Django==1.10.6
django-bootstrap-form==3.2.1
django-bower==5.1.0
django-colorfield==0.1.10
pushbullet.py==0.10.0
python-magic==0.4.12
requests
six==1.10.0
websocket-client
django-async-messages
sendgrid-django==4.0.4
django-bootstrap-pagination==1.6.2
django-hijack
django-hijack-admin
celery==4.0.2
python-memcached
django-admin-honeypot
easy-thumbnails
boto3
xlwt
pyyaml
ua-parser
user-agents
django-user-agents