Django==2.1.2
django-bootstrap-form==3.2.1
django-bower==5.2.0
django-colorfield==0.1.10
pushbullet.py==0.11.0
python-magic==0.4.12
requests
six==1.10.0
websocket-client
django-async-messages-redux
sendgrid-django==4.0.4
django-bootstrap-pagination==1.6.4
django-hijack
django-hijack-admin
celery==4.2.1
python-memcached
easy-thumbnails==2.4.1
boto3
xlwt
pyyaml
ua-parser
user-agents
django-user-agents
oauth2client
pyshorteners
django-debug-toolbar
django-tinymce4-lite
python-telegram-bot