Django==2.2.24
django-bootstrap-form==3.2.1
django-colorfield==0.1.10
python-magic==0.4.12
requests
six==1.10.0
websocket-client
django-async-messages-redux
sendgrid-django==4.0.4
django-bootstrap-pagination==1.6.4
django-hijack==2.3.0
django-hijack-admin==2.1.10
python-memcached
boto3==1.17.95
xlwt
pyyaml
ua-parser
user-agents
django-user-agents
oauth2client
pyshorteners
django-tinymce4-lite
python-telegram-bot==13.6
django-cors-headers
djangorestframework
markdown
django-filter
nexmo
pycurl
Unidecode
social-auth-app-django==4.0.0
python-jose==3.3.0
python-dotenv
cryptography
drf-jwt
pyjwt
django-npm
qrcode
