<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Generar {{ document_name }} en PDF
            </div>
            <div class="panel-body">
                <div class="row" id="pdf-buttons">
                    <div class="col-md-12" style="padding-bottom: 5px"><button class="btn btn-block btn-primary" id="btn-pdf-mail"><i class="fa fa-envelope-open"></i> Enviar PDF por Email </button> </div>
                </div>
            </div>
        </div>
    </div>
</div>