<div class="modal fade" id="modal_sms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close sms_close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Envío de SMS</h4>
            </div>
            <div class="modal-body">
                <form id="form_sms" method="post" action="{% url 'client:client-sms-send' %}">
                    {% csrf_token %}
                    <textarea maxlength="160" class="form-control" placeholder="Escribe aquí tu SMS" name="sms_body"
                              id="sms_body"></textarea>
                    <input type="hidden" id="phone_pk" name="phone_pk"/>
                    <input type="hidden" id="from_model" name="from_model"/>
                    <input type="hidden" id="from_model_id" name="from_model_id"/>
                </form>
            </div>
            <div class="modal-footer">
                <div style="float:left;color:#737373;font-style:italic">Carácteres restantes: <strong
                        id="sms_count">160</strong></div>
                <button type="button" class="btn btn-default sms_close" data-dismiss="modal">Descartar</button>
                <button type="button" class="btn btn-primary" id="sms_send">Enviar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_whatsapp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close sms_close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Envío de WhatsApp <i class="fa fa-whatsapp"></i> <small>En pruebas</small></h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-warning" role="alert"><strong>Alerta!</strong>
                    El programa no puede verifcar si este número de teléfono dispone de WhatsApp instalado. Si el usuario
                    no tiene WhatsApp, este programa no podrá avisarte ni emitirá ningun fallo.
                </div>
                <div class="alert alert-danger" role="alert">
                    Todos los campos son obligatorios
                </div>
                <form id="form_whatsapp" method="post" action="{% url 'client:client-whatsapp-templates' %}">
                    {% csrf_token %}
                    <label for="whatsapp_template_pk">Plantilla:</label>
                    <select class="form-control" id="whatsapp_template_pk" name="whatsapp_template_pk">

                    </select>
                    <label for="whatsapp_body">Vista previa:</label>
                    <textarea maxlength="160" class="form-control" rows="5" name="whatsapp_body"
                              id="whatsapp_body" disabled></textarea>
                    <input type="hidden" id="whatsapp_phone_pk" name="whatsapp_phone_pk"/>

                    <div id="whatsapp_placeholders"></div>
                </form>
                <div id="whatsapp_file_placeholder" data-token="{{ csrf_token }}" data-url="{% url 'client:client-whatsapp-file' %}"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Descartar</button>
                <button type="button" class="btn btn-primary" id="whatsapp_send">Enviar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal_mail" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Envío de correo electrónico</h4>
            </div>
            <form id="form_sms" method="post" action="{% url 'client:client-email-send' %}">
                <div class="modal-body">

                    {% csrf_token %}
                    <div class="form-group">
                        <select class="form-control" name="email_field" id="email_field" required>
                            {% for e in client.get_emails %}
                                <option value="{{ e.pk }}">{{ e }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="email_subject" name="email_subject"
                               placeholder="Asunto" required>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" rows="15" placeholder="Escribe aquí tu email" name="email_body"
                                  id="email_body" required></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Descartar</button>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="modal_geo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close sms_close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Servicio de localización</h4>
            </div>
            <div class="modal-body" id="modal_body_geo">
                <h4>Ubicando...</h4>
                {% include 'progress_bar.html' with w=100 %}
            </div>
        </div>
    </div>
</div>

{% if not edit %}
    <div class="row">
    <div class="col-md-12">
    <div class="panel {% if client.blocked %} panel-danger {% else %} panel-default {% endif %}">
    <div class="panel-heading">Datos del cliente
        {% if request.user.is_officer %}
            <div class="pull-right">
                {% if not creating_new_instance %}
                    <button class="btn btn-xs btn-info btn-email btn-circle btn-circle-inline"><i
                            class="fa fa-envelope"></i>
                    </button>
                {% endif %}
                <a class="btn btn-xs btn-default btn-circle btn-circle-inline"
                   href="{% url 'client:client-view' client.pk %}"><i
                        class="fa fa-edit"></i> </a>
            </div>

        {% endif %}
    </div>
    <div class="panel-body">
{% endif %}
{% if client.blocked %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h3 style="color: darkred">🔒 CLIENTE BLOQUEADO</h3>
        </div>
    </div>
{% endif %}
<div class="row">
    <div class="col-md-7">
        <h3>Datos personales
            {% if edit %}

                {% if not request.user_agent.is_pc and not client.blocked %}
                    <div class="btn-group">
                        <button type="button" class="btn btn-default dropdown-toggle btn-circle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"><i
                                class="fa fa-plus"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'intervention:intervention-new' client.pk %}">Avería</a></li>
                            <li><a href="{% url 'repair:repair-ath-new' client.pk %}">Reparación ATH</a></li>
                            <li><a href="{% url 'repair:repair-idegis-new' client.pk %}">Reparación Idegis</a></li>
                            <li><a href="{% url 'budget:budget-new' client.pk %}">Presupuesto</a></li>
                            <li><a href="{% url 'engine:engine-new' client.pk %}">Reparación de motor</a></li>
                        </ul>
                    </div>
                {% endif %}

                <a class="btn btn-warning btn-circle" href="{% url 'client:client-edit' client.pk %}"><i
                        class="fa fa-edit"></i></a>
                <button class="btn btn-xs btn-info btn-email btn-circle"><i
                        class="fa fa-envelope"></i>
                </button>

            {% endif %}
        </h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>
                    <strong>Nombre</strong>
                </td>
                <td>
                    {{ client.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>COD Cliente</strong>
                </td>
                <td>
                    {{ client.intern_code|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>DNI/CIF</strong>
                </td>
                <td>
                    {{ client.dni|default_if_none:"" }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Identificación Intranet</strong>
                </td>
                <td>
                    C{{ client.pk }}
                </td>
            </tr>
            {% if address %}
                <tr>
                    <td>
                        <strong>Dirección</strong>
                    </td>
                    <td>
                        {{ address }}
                    </td>
                </tr>

                {% if  request.user_agent.is_mobile or address.get_url_gmaps %}
                    <tr>
                        <td>
                            <strong>Localización</strong>
                        </td>
                        <td id="space_geo">
                            {% if address.get_url_gmaps %}
                                <a href="{{ address.get_url_gmaps }}" type="button" target="_blank"
                                   class="btn btn-success btn-circle">
                                    <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                                </a>
                            {% else %}
                                <button class="btn btn-primary btn-circle" id="btn_geo"><span class="fa fa-plus"></span>
                                </button>
                                <form method="post" action="{% url 'client:client-address-edit-geo' address.pk %}"
                                      id="form_geo">
                                    {% csrf_token %}
                                </form>

                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endif %}

        </table>
        <h4>Emails {% if edit %}
            <a class="btn btn-success btn-circle" href="{% url 'client:client-email-new' client.pk %}"><i
                    class="fa fa-plus"></i></a>{% endif %}</h4>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Alias</th>
                <th>Email</th>
            </tr>
            {% for email in client.get_emails %}
                <tr>
                    <td>
                        {{ email.alias }}
                    </td>
                    <td>
                        {{ email.email }} {% if edit %} <a class="btn btn-warning btn-circle"
                                                           href="{% url 'client:client-email-edit' email.pk %}"><i
                            class="fa fa-edit"></i></a>

                        <a class="btn btn-danger btn-circle btn-right"
                           href="{% url 'client:client-email-delete' email.pk %}"><i
                                class="fa fa-remove"></i></a> {% endif %}
                    </td>

                </tr>
            {% endfor %}
        </table>

    </div>
    <div class="col-md-5">
        <h3>Teléfonos {% if edit %}
            <a class="btn btn-success btn-circle" href="{% url 'client:client-phone-add' client.pk %}"><i
                    class="fa fa-plus"></i></a>{% endif %}</h3>


        <ul class="list-group">
            {% for phone in client.get_phones %}
                <li class="list-group-item item-phone">
                    <table class="table table-responsive table-phone">
                        <tr>
                            <td class="td-phone">

                                <div class="btn-group">
                                    <button type="button" class="btn btn-default dropdown-toggle"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-phone-square"></i>
                                        {% if phone.international_code != "34" %}
                                            +{{ phone.international_code }}{% endif %} {{ phone.phone }} <span
                                            class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        {% if edit %}
                                            <li><a href="{% url 'client:client-phone-edit' phone.pk %}"><i
                                                    class="fa fa-edit"></i> Editar</a></li>
                                            <li><a href="{% url 'client:client-phone-delete' phone.pk %}"><i
                                                    class="fa fa-remove"></i> Eliminar</a></li>
                                            <li role="separator" class="divider"></li>
                                        {% endif %}
                                        <li><a href="tel:+{{ phone.international_code }}{{ phone.phone }}"><i
                                                class="fa fa-volume-control-phone"></i> Llamar</a></li>

                                        {% if sms %}
                                            <li><a href="#" class="btn-sms" data-phone="{{ phone.pk }}"><i
                                                    class="fa fa-send-o"></i> Enviar SMS</a></li>
                                        {% endif %}
                                        {% if sms and request.user_agent.is_pc %}
                                            <li><a href="#" class="btn-whatsapp" data-phone="{{ phone.pk }}"><i
                                                    class="fa fa-whatsapp"></i> Enviar WhatsApp</a></li>
                                        {% else %}
                                            <li>
                                                <a href="https://api.whatsapp.com/send?phone={{ phone.international_code }}{{ phone.phone }}"
                                                   target="_blank">
                                                    <i class="fa fa-whatsapp"></i> Enviar WhatsApp
                                                </a></li>
                                        {% endif %}

                                    </ul>
                                </div>
                            </td>
                            <td class="td-phone">
                                <div class="pull-right" style="display: inline-flex">
                                    <strong>{{ phone.alias }}</strong>
                                </div>
                            </td>
                        </tr>
                    </table>


                </li>
            {% endfor %}

        </ul>


    </div>
</div>

{% if not edit %}
    </div>
    </div>
    </div>
    </div>

{% endif %}
