{% if not edit %}
    <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Datos del cliente <a href="{% url 'client-client' client.pk %}" class="btn btn-default">Modificar
            datos</a></h3>
    </div>
    <div class="panel-body">
{% endif %}
<div class="row">
    <div class="col-md-7">
        <h3>Datos personales
            {% if edit %}
                <a class="btn btn-warning" href="{% url 'client-client-edit' client.pk %}">Editar</a>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Crear <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'intervention-intervention-new' client.pk %}">Avería</a></li>
                        <li><a href="{% url 'repair-ath-new' client.pk %}">Reparación ATH</a></li>
                        <li><a href="{% url 'repair-idegis-new' client.pk %}">Reparación Idegis</a></li>
                        <li><a href="{% url 'budget-budget-new' client.pk %}">Presupuesto</a></li>
                    </ul>
                </div>
            {% endif %}
        </h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>
                    <strong>Nombre</strong>
                </td>
                <td>
                    {{ client.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Email</strong>
                </td>
                <td>
                    {{ client.email }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>COD Cliente</strong>
                </td>
                <td>
                    {{ client.intern_code }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>DNI/CIF</strong>
                </td>
                <td>
                    {{ client.dni }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Identificación Intranet</strong>
                </td>
                <td>
                    C{{ client.pk }}
                </td>
            </tr>
            {% if address %}
                <tr>
                    <td>
                        <strong>Dirección</strong>
                    </td>
                    <td>
                        {{ address.address }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Localización</strong>
                    </td>
                    <td>
                        {% if address.get_url_gmaps %}
                            <a href="{{ address.get_url_gmaps }}" type="button" target="_blank"
                               class="btn btn-success">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </a>
                        {% else %}
                            Sin ubicación disponible
                        {% endif %}
                    </td>
                </tr>

            {% endif %}

        </table>
    </div>
    <div class="col-md-5">
        <h3>Teléfonos {% if edit %}
            <a class="btn btn-success" href="{% url 'client-phone-new' client.pk %}">Añadir</a>{% endif %}</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Alias</th>
                <th>Teléfono</th>
                {% if edit %}
                    <th></th>
                    <th></th>
                {% endif %}
                {% if sms %}
                    <th></th>
                {% endif %}
            </tr>
            {% for phone in client.get_phones %}
                <tr>
                    <td>{{ phone.alias }}</td>
                    <td>{{ phone.phone }}</td>
                    {% if edit %}
                        <td><a class="btn btn-block btn-warning"
                               href="{% url 'client-phone-edit' phone.pk %}">Editar</a></td>
                        <td><a class="btn btn-danger btn-block"
                               href="{% url 'client-phone-delete' phone.pk %}">Eliminar</a></td>
                    {% endif %}
                    {% if sms %}
                        <td><a class="btn btn-primary btn-block" href="{% url 'client-phone-new' client.pk %}">SMS</a>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% if not edit %}
    </div>
    </div>
    </div>
    </div>

{% endif %}