    <div class="modal fade" id="modal_sms" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close sms_close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Envío de SMS</h4>
                </div>
                <div class="modal-body">
                    <form id="form_sms" method="post" action="{% url 'client:client-sms-send' %}">
                        {% csrf_token %}
                        <textarea maxlength="160" class="form-control" placeholder="Escribe aquí tu SMS" name="sms_body" id="sms_body"></textarea>
                        <input type="hidden" id="phone_pk" name="phone_pk">
                    </form>
                </div>
                <div class="modal-footer">
                    <div style="float:left;color:#737373;font-style:italic">Carácteres restantes: <strong id="sms_count">160</strong></div>
                    <button type="button" class="btn btn-default sms_close" data-dismiss="modal" >Close</button>
                    <button type="button" class="btn btn-primary" id="sms_send">Enviar</button>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="modal_geo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close sms_close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Servicio de localización</h4>
                </div>
                <div class="modal-body" id="modal_body_geo">
                    <h4>Ubicando...</h4>
                    {% include 'progress_bar.html' with w=100 %}
                </div>
            </div>
        </div>
    </div>

{% if not edit %}
    <div class="row">
    <div class="col-md-12">
    <div class="panel panel-default">
    <div class="panel-heading">Datos del cliente
        {% if request.user.is_officer %}
    <div class="pull-right">
                        <a class="btn btn-xs btn-default" href="{% url 'client:client-view' client.pk %}"><i class="fa fa-edit"></i> Modificar datos</a>
    </div>
            {% endif %}
    </div>
    <div class="panel-body">
{% endif %}
<div class="row">
    <div class="col-md-7">
        <h3>Datos personales
            {% if edit %}
                <a class="btn btn-warning" href="{% url 'client:client-edit' client.pk %}">Editar</a>
                <!-- Single button -->
                <div class="btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        Crear <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'intervention:intervention-new' client.pk %}">Avería</a></li>
                        <li><a href="{% url 'repair:repair-ath-new' client.pk %}">Reparación ATH</a></li>
                        <li><a href="{% url 'repair:repair-idegis-new' client.pk %}">Reparación Idegis</a></li>
                        <li><a href="{% url 'budget:budget-new' client.pk %}">Presupuesto</a></li>
                    </ul>
                </div>
            {% endif %}
        </h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <td>
                    <strong>Nombre</strong>
                </td>
                <td>
                    {{ client.name }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Email</strong>
                </td>
                <td>
                    {{ client.email }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>COD Cliente</strong>
                </td>
                <td>
                    {{ client.intern_code }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>DNI/CIF</strong>
                </td>
                <td>
                    {{ client.dni }}
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Identificación Intranet</strong>
                </td>
                <td>
                    C{{ client.pk }}
                </td>
            </tr>
            {% if address %}
                <tr>
                    <td>
                        <strong>Dirección</strong>
                    </td>
                    <td>
                        {{ address.address }}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Localización</strong>
                    </td>
                    <td id="space_geo">
                        {% if address.get_url_gmaps %}
                            <a href="{{ address.get_url_gmaps }}" type="button" target="_blank"
                               class="btn btn-success">
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
                            </a>
                        {% else %}
                            <button class="btn btn-primary" id="btn_geo">Grabar ubicación</button>
                                <form method="post" action="{% url 'client:client-address-edit-geo' address.pk %}" id="form_geo">
                                    {% csrf_token %}
                                </form>

                        {% endif %}
                    </td>
                </tr>

            {% endif %}

        </table>
    </div>
    <div class="col-md-5">
        <h3>Teléfonos {% if edit %}
            <a class="btn btn-success" href="{% url 'client:client-phone-new' client.pk %}">Añadir</a>{% endif %}</h3>
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Alias</th>
                <th>Teléfono</th>
                {% if edit %}
                    <th></th>
                    <th></th>
                {% endif %}
                {% if sms %}
                    <th></th>
                {% endif %}
            </tr>
            {% for phone in client.get_phones %}
                <tr>
                    <td>{{ phone.alias }}</td>
                    <td>{{ phone.phone }}</td>
                    {% if edit %}
                        <td><a class="btn btn-block btn-warning"
                               href="{% url 'client:client-phone-edit' phone.pk %}">Editar</a></td>
                        <td><a class="btn btn-danger btn-block"
                               href="{% url 'client:client-phone-delete' phone.pk %}">Eliminar</a></td>
                    {% endif %}
                    {% if sms %}
                        <td><button class="btn btn-primary btn-block btn_sms" data-phone="{{ phone.pk }}">SMS</button>
                        </td>
                    {% endif %}
                </tr>

            {% endfor %}
        </table>
    </div>
</div>

{% if not edit %}
    </div>
    </div>
    </div>
    </div>

{% endif %}