{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Borrar dirección{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            {% if can_delete %}
                <form action="" method="post">{% csrf_token %}
                    <div class="alert alert-danger" role="alert"><strong>Alerta!</strong> ¿Esta seguro que desea
                        eliminar la dirección {{ address }} de {{ address.client }}? Deberá seleccionar otra dirección
                        para asignar a las averías,
                        reparaciones y presupuestos de este cliente que usaban la dirección que usted quiere borrar.
                    </div>
                    <div class="form-group">
                        <h4>Dirección alternativa</h4>
                        {% for ad in addresses %}
                            <div class="radio">
                                <label>
                                    <input type="radio" name="new_address" id="optionsRadios{{ ad.pk }}"
                                           value="{{ ad.pk }}" required>
                                    {{ ad }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger" type="submit">Borrar y asignar nueva dirección</button>
                        <a href="{% url 'client-client' address.client.pk %}" class="btn btn-primary">No quiero
                            borrarla</a>
                    </div>
                </form>

            {% else %}
                <div class="alert alert-warning" role="alert"><strong>Error!</strong> Esta dirección no puede ser
                    borrada debido a que es la única de este cliente.
                </div>
                <div class="form-group">
                    <a href="{% url 'client-client' address.client.pk %}" class="btn btn-primary">Volver</a>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}
