{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}{{ client.name }}{% endblock %}
{% block content %}
    {% if request.user_agent.is_pc %}
    <div class="row row-new-instance">
        <div class="col-md-12">
            <a href="{% url 'intervention:intervention-new' client.pk %}" class="btn btn-danger"><i
                            class="fa fa-plus"></i> Crear Avería</a>
            <a href="{% url 'repair:repair-ath-new' client.pk %}" class="btn btn-primary"><i
                            class="fa fa-plus"></i> Crear Reparación ATH</a>
            <a href="{% url 'repair:repair-idegis-new' client.pk %}" class="btn btn-default"><i
                            class="fa fa-plus"></i> Crear Reparación Idegis</a>
            <a href="{% url 'repair:repair-zodiac-new' client.pk %}" class="btn btn-zodiac"><i
                    class="fa fa-plus"></i> Crear Reparación Fluidra</a>
            <a href="{% url 'budget:budget-new' client.pk %}" class="btn btn-info"><i
                            class="fa fa-plus"></i> Crear  Presupuesto</a>
            <a href="{% url 'engine:engine-new' client.pk %}" class="btn btn-success"><i
                            class="fa fa-plus"></i> Crear Reparación de motor</a>
        </div>
    </div>

    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel {% if client.blocked %} panel-danger {% else %} panel-default {% endif %}">
                    <div class="panel-heading" role="tab" id="headingOne">
                        <h4 class="panel-title">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                               aria-expanded="true" aria-controls="collapseOne">
                                Datos del cliente
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                         aria-labelledby="headingOne">
                        <div class="panel-body">
                            {% include 'client_data.html' with client=client edit=True sms=True %}
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-xs-12">
                                    <h3>Direcciones <a class="btn btn-success btn-circle"
                                                       href="{% url 'client:client-address-add' client.pk %}"><i
                                            class="fa fa-plus"></i></a>
                                    </h3>
                                    <table class="table table-bordered table-hover table-striped">
                                        <tr>
                                            <th>Alias</th>
                                            <th>Dirección</th>
                                            <th>Localización</th>
                                            <th>Edición</th>
                                        </tr>
                                        {% for address in client.get_addresses %}
                                            <tr>
                                                <td>
                                                    {{ address.alias }}
                                                </td>
                                                <td>
                                                    {{ address.address|linebreaksbr }}
                                                </td>
                                                <td>
                                                    {% if address.default_zone %}
                                                        {% include 'zone_include.html' with zone=address.default_zone %}
                                                    {% else %}
                                                        <div style="background-color: lightgrey; color: black !important;"
                                                             class="zone">Sin zona
                                                        </div>
                                                    {% endif %}

                                                    {% if address.get_url_gmaps %}
                                                        <a href="{{ address.get_url_gmaps }}" type="button"
                                                           class="btn btn-success btn-circle"><span
                                                                class="glyphicon glyphicon-map-marker"
                                                                aria-hidden="true"></span></a>
                                                    {% else %}
                                                        <a href="#" type="button" class="btn btn-circle" disabled><span
                                                                class="glyphicon glyphicon-map-marker"
                                                                aria-hidden="true"></span></a>
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    <a class="btn btn-warning btn-circle "
                                                       href="{% url 'client:client-address-edit' address.pk %}"><i
                                                            class="fa fa-edit"></i></a>

                                                    <a class="btn btn-danger btn-circle "
                                                       href="{% url 'client:client-address-delete' address.pk %}"><i
                                                            class="fa fa-remove"></i></a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </table>
                                </div>
                            </diV>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if request.user_agent.is_pc %}
        <div class="row row-new-instance">
            <div class="col-md-12">
                <a href="{% url 'client:client-view-interventions' client.pk %}" class="btn btn-danger"><span
                        class="badge">{{ interventions }}</span> Ver Averías</a>
                <a href="{% url 'client:client-view-repairs' client.pk %}" class="btn btn-primary"><span
                        class="badge">{{ repairs }}</span> Ver reparaciones</a>
                <a href="{% url 'client:client-view-budgets' client.pk %}" class="btn btn-info"><span
                        class="badge">{{ budgets }}</span> Ver presupuestos</a>
                <a href="{% url 'client:client-view-enginerepairs' client.pk %}" class="btn btn-success"><span
                        class="badge">{{ engines }}</span> Ver reparaciones de motor</a>
            </div>
        </div>

    {% endif %}


{% endblock %}

{% block extrajs %}
    <script src="{% static 'base/js/client/sms_email.js' %}"></script>
    <script src="{% static 'base/js/client/geolocation.js' %}"></script>
{% endblock %}