{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}



    <div class="row">

        <div class="col-md-12">
            <div class="row">
                <h4>Cliente a borrar</h4>
            </div>
            <div class="row">
                {% include 'client_data.html' with client=client_old %}
            </div>

            <div class="row">
                <h4>Cliente a fusionar</h4>
            </div>
            <div class="row">
                {% include 'client_data.html' with client=client_new %}
            </div>


        <form method="post" id="merge_form">
            {% csrf_token %}
            <div class="row">
                <button type="submit" id="btn_form" class="btn btn-warning btn-lg btn-block"> Fusionar</button>
                <div style="display: none" id="progress">
                    {% include 'progress_bar.html' with w=100 %}
                </div>
            </div>
        </form>

            </div>
    </div>

    </br>

{% endblock %}

{% block extrajs %}
<script type="application/javascript">
    $('#btn_form').on( "click", function( event ) {
        event.preventDefault();
        $('#progress').show();
        $('#btn_form').hide();
        $('#merge_form').submit();
    });
</script>

{% endblock %}