{% extends 'base.html' %}
{% load static %}
{% load core_tags %}
{% load bootstrap %}
{% block page_title %}Dirección para {{ client.name }}{% endblock %}
{% block content %}

    {% include 'client_data_basic.html' with client=client %}



    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Datos de la dirección</h3></div>
                <form action="" method="post" id="new_form">
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                    </div>
                    <div class="panel-footer">
                        <input type="hidden" id="other" name="other" value="0"/>
                        <button class="btn btn-success" id="btn_other"><i class="fa fa-circle-o-notch"></i> Quiero
                            añadir
                            otra dirección
                        </button>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-arrow-right"></i> Guardar y
                            continuar
                        </button>
                        {% if client.get_addresses|length > 0 %}
                            <a href="{% url 'client:client-view' client.pk %}" class="btn btn-warning"><i
                                    class="fa fa-remove"></i> Omitir</a>
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script type="application/javascript">
        var pops = ["En <strong>Alias</strong> puede poner por ejemplo: Principal, Casa, Trabajo, Chalet..." +
        " No hace falta repetir el nombre del cliente."]
    </script>
    <script src="{% static 'base/js/client/new-phone-address.js' %}{% app_version_includes %}"></script>
{% endblock %}