{% extends 'base.html' %}
{% load static %}
{% load core_tags %}
{% load bootstrap %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-primary ">
                <div class="panel-heading"><h3 class="panel-title">Datos del cliente</h3></div>
                <form action="" method="post" id="form_new_client">
                    <div class="panel-body">
                        {% csrf_token %}
                        {{ form|bootstrap }}
                    </div>
                    <div class="panel-footer">
                        <button type="submit" id="btn_form_new_client" class="btn btn-primary">Guardar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}