{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Dirección{% endblock %}
{% block content %}

<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <form action="" method="post">{% csrf_token %}
            {{ form|bootstrap }}
            <div class="form-group">
         <input type="hidden" id="other" name="other" value="0"/>
         <button class="btn btn-success" id="btn_other">Guardar y añadir otra</button>
         <button type="submit" class="btn btn-primary">Guardar y continuar</button>
        </div>
        </form>

    </div>
</div>


{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/js/client/new_phone_address.js' %}"></script>
{% endblock %}