{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load thumbnail %}
{% block page_title %}Avería
    <small>{{ intervention }}</small>
    {% include 'starred_include.html' with intervention=intervention %}
    {% include 'new_file_include.html' with intervention=intervention %}{% endblock %}
{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="title_image">Foto de </h4>
                    <small id="date_image">date</small>
                    <small class="pull-right"><a id="link_original_image" href="#" target="_blank">Ver imagen
                        completa</a></small>
                </div>
                <div class="modal-body">
                    <div id="body_image">

                    </div>
                    <div id="progress_bar_image">
                        {% include 'progress_bar.html' with w=100 %}
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if intervention.get_modifications|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modificaciones de la avería</h3>
                    </div>
                    <div class="panel-body" id="body_modificaciones">

                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Modificación</th>
                            </tr>

                            {% for mod in intervention.get_modifications %}
                                <tr>
                                    <td>
                                        {{ mod.date }}
                                    </td>
                                    <td>
                                        {{ mod.created_by.get_full_name }}
                                    </td>
                                    <td>
                                        {{ mod.note }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'client_data.html' with client=intervention.address.client sms=request.user.is_officer address=intervention.address %}

    {% if intervention.get_images|length > 0 %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Imágenes de la avería</h3>
                    </div>
                    <div class="panel-body">
                        {% for i in intervention.get_images %}
                            <a href="#" class="link_image" data-url="/media/{{ i.image }}" data-date="{{ i.date }}"
                               data-name="{{ i.user.get_full_name }}">
                                <img src="{{ i.image|thumbnail_url:'intervention_th' }}" alt=""/>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if request.user.is_officer and intervention.get_documents|length > 0 %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Documentos de la avería</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Documento</th>
                                <th>Descargar</th>
                            </tr>
                            {% for d in intervention.get_documents %}
                                <tr>
                                    <td>
                                        {{ d.date }}
                                    </td>
                                    <td>
                                        {{ d.user.get_full_name }}
                                    </td>
                                    <td>
                                        {{ d.filename }}
                                    </td>
                                    <td>
                                        <a class="btn btn-success btn-block" href="{{ d.document.url }}"
                                           target="_blank">
                                            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if request.user.is_officer %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Realizar cambios</h3>
                    </div>
                    <div class="panel-body forms_content">
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <select class="form-control" name="intervention_status"
                                                    id="intervention_status">
                                                {% for st in status %}
                                                    {% if st.pk == 2 %}
                                                        <option value="{{ st.pk }}" selected>{{ st.name }}</option>
                                                    {% else %}
                                                        <option value="{{ st.pk }}">{{ st.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            <select class="form-control" name="intervention_assigned"
                                                    id="intervention_assigned">
                                                {% for u in users %}
                                                    <option value="{{ u.pk }}">Asignar a {{ u.get_full_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button type="submit" class="btn btn-block btn-danger">
                                                <span class="fa fa-flash"></span> Cambiar estado
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                <hr>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                <textarea class="form-control" name="intervention_modification" rows="3"
                                          placeholder="Escribe aquí una modificación" required></textarea>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button type="submit" class="btn btn-block btn-warning">
                                                <span class="fa fa-plus"></span> Añadir modificación
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-6">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-2">
                                            <button class="btn btn-block" id="btn-color"
                                                    style="color:white; background-color:{{ intervention.zone.color }}">
                                                Color
                                            </button>
                                        </div>

                                        <div class="col-xs-12 col-md-6">
                                            <select name="intervention_zone" class="form-control" id="selector_color">
                                                {% for zone in zones %}
                                                    {% if zone.pk == intervention.zone.pk %}
                                                        <option value="{{ zone.pk }}" data-color="{{ zone.color }}"
                                                                selected>{{ zone.name }}</option>
                                                    {% else %}
                                                        <option value="{{ zone.pk }}"
                                                                data-color="{{ zone.color }}">{{ zone.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button type="submit" class="btn btn-block btn-success">
                                                <span class="fa fa-map-marker"></span> Cambiar Zona
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                            <div class="col-xs-12 col-md-6">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-xs-12 col-md-8">
                                            <select class="form-control" name="user_to_send">
                                                {% for u in users %}
                                                    <option value="{{ u.pk }}">Enviar a {{ u.get_full_name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-md-4">
                                            <button type="submit" class="btn btn-default btn-block">
                                                <span class="fa fa-envelope"></span> Enviar a dispositivo
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body forms_progress" style="display: none">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


    {% if intervention.status_id == 2 %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Notificar estado del trabajo</h3>
                </div>
                <div class="panel-body">
                    <div class="row" id="forms">
                        <form method="post" action="{% url 'intervention:intervention-status-job' intervention.pk %}">
                            {% csrf_token %}
                            <div class="col-xs-12 col-md-9">
                                <select class="form-control" name="sub_status">
                                    {% for s in sub_status %}
                                        <option value="{{ s.pk }}">{{ s }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <button type="submit" class="btn btn-block btn-danger">
                                    <span class="fa fa-flash"></span> Notificar
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    {% endif %}

    {% if intervention.get_history_sub|length > 0 %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Historial de estado del trabajo</h3>
                </div>
                <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped" id="sub_history_table">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                            </tr>
                            {% for h in intervention.get_history_sub %}
                                <tr>
                                    <td>
                                        {{ h.date }}
                                    </td>
                                    <td>
                                        {{ h.created_by.get_full_name }}
                                    </td>
                                    <td>
                                        {{ h.sub_status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Historial de la avería</h3>
                </div>
                <div class="panel-body">
                    {% if intervention.get_history|length > 0 %}
                        <table class="table table-bordered table-hover table-striped" id="history_table">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Operario</th>
                            </tr>
                            {% for h in intervention.get_history %}
                                <tr>
                                    <td>
                                        {{ h.date }}
                                    </td>
                                    <td>
                                        {{ h.created_by.get_full_name }}
                                    </td>
                                    <td>
                                        {{ h.status }}
                                    </td>
                                    <td>
                                        {% if h.assigned %}{{ h.assigned.get_full_name }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h5>No hay historial disponible para mostrar</h5>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% include 'sms_include.html' with obj=intervention title="SMS de la avería" %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Datos de la avería

                    {% if request.user.is_officer %}
                        <div class="pull-right">
                            <a class="btn btn-xs btn-primary"
                               href="{% url 'intervention:intervention-print' intervention.pk %}" target="_blank"><i
                                    class="fa fa-print"></i> Imprimir</a>
                        </div>
                    {% endif %}
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <td style="width: 15%">
                                <strong>Fecha</strong>
                            </td>
                            <td>
                                {{ intervention.date }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Zona</strong>
                            </td>
                            <td>
                                <div style="background-color: {{ intervention.zone.color }}"
                                     class="zone">{{ intervention.zone }}</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Creada por</strong>
                            </td>
                            <td>
                                {{ intervention.created_by.get_full_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Estado</strong>
                            </td>
                            <td>
                                {{ intervention.status }} {% if intervention.status_id == 2 %} -
                                {{ intervention.assigned.get_full_name }} {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Descripción</strong>
                            </td>
                            <td>
                                {{ intervention.description|linebreaks }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script type="application/javascript">
        var default_sms = "Recibido aviso de ATH por su solicitud de servicio tecnico. Nos pondremos en contacto con usted en breve";
        var from_model_val = "intervention";
        var default_subject = "Aviso ATH";
        var from_model_id_val = {{ intervention.pk }};
    </script>
    <script src="{% static 'base/js/intervention/detail.js' %}"></script>
    <script src="{% static 'base/js/client/sms_email.js' %}"></script>
    <script src="{% static 'base/js/client/geolocation.js' %}"></script>
{% endblock %}
{% block extracss %}
    <link href="{% static 'base/css/intervention/detail.css' %}" rel="stylesheet" type="text/css">
{% endblock %}