{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block page_title %}Avería
    <small>{{ intervention }}</small>
    {% include 'starred_include.html' with intervention=intervention %}
    {% include 'new_file_include.html' with intervention=intervention %}{% endblock %}
{% block content %}

    <!-- Modal -->
    <div class="modal fade" id="modal_image" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="title_image">Foto de </h5>
                    <small id="date_image">date</small>

                    <div class="row">
                        <div class="col-md-12">
                            <a id="link_original_image" href="#" class="btn btn-xs btn-primary pull-right"
                               target="_blank" style="margin-bottom: 3px"><i
                                    class="fa fa-arrows-alt"></i> Ampliar</a>
                            <a style="display: none" id="link_remove" class="btn btn-xs btn-danger pull-left"
                               href="#"> <i class="fa fa-remove"></i> Eliminar</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button id="previous_img_btn" class="btn btn-xs btn-primary pull-left gallery_btn"><i
                                    class="fa fa-arrow-left"></i></button>
                            <button id="next_img_btn" class="btn btn-xs btn-primary pull-right gallery_btn"><i
                                    class="fa fa-arrow-right"></i></button>
                        </div>
                    </div>
                </div>
                <div class="modal-body">

                    <div id="body_image">

                    </div>
                    <div id="progress_bar_image">
                        {% include 'progress_bar.html' with w=100 %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_upload" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title">Subida de archivos</h5>
                </div>
                <div class="modal-body">
                    <div id="body_upload">
                        <div id="file_selection" style="display: none">
                            <p>Seleccione los archivos que desea subir</p>
                            <input multiple data-token="{{ csrf_token }}"
                                   data-url="{% url 'intervention:intervention-preupload-document' intervention.pk %}"
                                   type="file" id="document"/>
                        </div>
                        <div id="image_selection" style="display: none">
                            <p>Seleccione las fotos que desea subir</p>
                            <input multiple data-token="{{ csrf_token }}"
                                   data-url="{% url 'intervention:intervention-preupload-image' intervention.pk %}"
                                   type="file" accept="image/*" id="image"/>
                        </div>
                        <div id="file_progress">
                        </div>
                        <div id="preview_progress" style="display: none">
                            <h5>Procesando imágenes...</h5>
                            {% include 'progress_bar.html' with w=100 %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% if intervention.get_modifications|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Modificaciones de la avería</h3>
                    </div>
                    <div class="panel-body" id="body_modificaciones">

                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Modificación</th>
                            </tr>

                            {% for mod in intervention.get_modifications %}
                                <tr>
                                    <td>
                                        {{ mod.date|date:"d-m-Y" }} {{ mod.date|time:"H:i" }}
                                    </td>
                                    <td>
                                        {{ mod.created_by.get_full_name }}
                                    </td>
                                    <td class="intervention_modification_note">
                                        {{ mod.note }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% include 'client_data.html' with client=intervention.address.client sms=request.user.is_officer address=intervention.address %}

    {% if intervention.get_images|length > 0 %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Imágenes de la avería</h3>
                    </div>
                    <div class="panel-body">
                        {% for i in intervention.get_images %}
                            {% if i.thumbnail_s3_key %}
                                <a href="#" class="link_image"
                                   data-url="{% url 'intervention:intervention-view-image-url' i.pk %}"
                                   data-date="{{ i.date }}"
                                   data-name="{{ i.user.get_full_name }}"
                                        {% if request.user == i.user %}
                                   data-remove="{% url 'intervention:intervention-remove-file' i.pk %}?type=1"
                                        {% else %}
                                   data-remove="noremove"
                                        {% endif %}
                                >
                                    <img src="{{ i.get_thumbnail_signed_url }}" style="height: 100px; width: 100px"
                                         onerror="imgError(this);" alt=""/>
                                </a>
                                {% if i.s3_key == "no_key" %}
                                    <button class="btn btn-warning btn-circle btn-circle-inline btn-s3" disabled>
                                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                    </button>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% if request.user.is_officer and intervention.get_documents|length > 0 %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Documentos de la avería</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for d in intervention.get_documents %}
                                <li class="list-group-item">
                                    <strong>{{ d.filename }}</strong>
                                    | {{ d.user.get_full_name }}, {{ d.date|date:"d-m-Y" }} {{ d.date|time:"H:i" }}
                                    <div class="pull-right" style="display: inline-flex">
                                        {% if d.only_officer %}
                                            <a class="btn btn-warning btn-xs btn-circle-inline"
                                               href="{% url 'intervention:intervention-make-document-visible' d.pk %}">
                                                <i class="fa fa-eye"></i> Mostrar a operario
                                            </a>
                                        {% else %}
                                            <a class="btn btn-info btn-xs btn-circle-inline"
                                               href="{% url 'intervention:intervention-make-document-visible' d.pk %}">
                                                <i class="fa fa-eye-slash"></i> Ocultar a operario
                                            </a>
                                        {% endif %}
                                        {% if d.s3_key == "no_key" %}
                                            <button class="btn btn-danger btn-circle btn-circle-inline" disabled>
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                            </button>
                                            <button class="btn btn-warning btn-circle btn-circle-inline" disabled>
                                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                            </button>
                                        {% else %}
                                            {% if request.user == d.user %}
                                                <a class="btn btn-danger btn-circle btn-circle-inline"
                                                   href="{% url 'intervention:intervention-remove-file' d.pk %}?type=0">
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                                </a>
                                            {% else %}
                                                <button class="btn btn-danger btn-circle btn-circle-inline" disabled>
                                                    <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                                </button>
                                            {% endif %}
                                            <a class="btn btn-success btn-circle btn-circle-inline"
                                               href="{% url 'intervention:intervention-view-document' d.pk %}"
                                               target="_blank">
                                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                                            </a>
                                        {% endif %}

                                    </div>

                                </li>
                            {% endfor %}

                        </ul>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if not request.user.is_officer and intervention.get_no_officer_documents|length > 0 %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Documentos de la avería</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group">
                            {% for d in intervention.get_no_officer_documents %}
                                <li class="list-group-item">
                                    <strong>{{ d.filename }}</strong>
                                    | {{ d.user.get_full_name }}, {{ d.date|date:"d-m-Y" }} {{ d.date|time:"H:i" }}
                                    <div class="pull-right" style="display: inline-flex">
                                        {% if d.s3_key == "no_key" %}
                                            <button class="btn btn-warning btn-circle btn-circle-inline" disabled>
                                                <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
                                            </button>
                                        {% else %}
                                            <a class="btn btn-success btn-circle btn-circle-inline"
                                               href="{% url 'intervention:intervention-view-document' d.pk %}"
                                               target="_blank">
                                                <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"/>
                                            </a>
                                        {% endif %}
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


    {% if request.user.is_officer %}
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Vinculaciones
                            <small>Puedes vincular esta avería a una reparación o un presupuesto</small>
                            {% if request.user_agent.is_pc %}
                                <div class="pull-right">
                                    <form class="form-inline" method="post" style="margin-top: -5px"
                                          action="{% url 'intervention:intervention-link' intervention.pk %}">
                                        {% csrf_token %}
                                        <input required type="text" class="form-control input-sm"
                                               placeholder="Id reparación o presupuesto"
                                               name="object">
                                        <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i>
                                            Vincular
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </h3>
                    </div>
                    <div class="panel-body forms_content">
                        {% if intervention.has_links %}

                            <ul class="list-group" style="margin-bottom: 0px;">
                                {% for ath in intervention.repairs_ath.all %}
                                    <li class="list-group-item">
                                        <a href="{% url 'repair:repair-ath-view' ath.pk %}"
                                           class="btn btn-primary btn-xs">{{ ath }}</a> {{ ath.model|upper }}
                                        | {{ ath.date|date:"d-m-Y" }} {{ ath.date|time:"H:i" }}
                                        <div class="pull-right" style="display: inline-flex">
                                            <a class="btn btn-danger btn-circle btn-circle-inline"
                                               href="{% url 'repair:repair-unlink-intervention' ath.pk ath.type.value intervention.pk 0 %}"
                                            >
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for idegis in intervention.repairs_idegis.all %}
                                    <li class="list-group-item">
                                        <a href="{% url 'repair:repair-idegis-view' idegis.pk %}"
                                           class="btn btn-default btn-xs ">{{ idegis }}</a> {{ idegis.model|upper }}
                                        | {{ idegis.date|date:"d-m-Y" }} {{ idegis.date|time:"H:i" }}
                                        <div class="pull-right" style="display: inline-flex">
                                            <a class="btn btn-danger btn-circle btn-circle-inline"
                                               href="{% url 'repair:repair-unlink-intervention' idegis.pk idegis.type.value intervention.pk 0 %}"
                                            >
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}

                                {% for zodiac in intervention.repairs_zodiac.all %}
                                    <li class="list-group-item">
                                        <a href="{% url 'repair:repair-zodiac-view' zodiac.pk %}"
                                           class="btn btn-zodiac btn-xs ">{{ zodiac }}</a> {{ zodiac.model|upper }}
                                        | {{ zodiac.date|date:"d-m-Y" }} {{ zodiac.date|time:"H:i" }}
                                        <div class="pull-right" style="display: inline-flex">
                                            <a class="btn btn-danger btn-circle btn-circle-inline"
                                               href="{% url 'repair:repair-unlink-intervention' zodiac.pk zodiac.type.value intervention.pk 0 %}"
                                            >
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                {% for budget in intervention.budgets.all %}

                                    <li class="list-group-item">
                                        <a href="{% url 'budget:budget-view' budget.pk %}"
                                           class="btn btn-xs btn-info">{{ budget }}</a> Creado
                                        por {{ budget.created_by.get_full_name }}
                                        | {{ budget.date|date:"d-m-Y" }} {{ budget.date|time:"H:i" }}
                                        <div class="pull-right" style="display: inline-flex">
                                            <a class="btn btn-danger  btn-circle btn-circle-inline"
                                               href="{% url 'budget:budget-unlink-intervention' budget.pk intervention.pk 0 %}"
                                            >
                                                <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                            </ul>



                        {% else %}
                            <h5>No hay vinculaciones que mostrar, para realizar una vinculación introduce el código del
                                presupuesto
                                o reparación.</h5>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Realizar cambios</h3>
                    </div>
                    <div class="panel-body forms_content">

                        <div class="row">
                            <div class="col-md-6 col-xs-12">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Cambiar estado:</h5>

                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                            <select class="form-control" name="intervention_status"
                                                    id="intervention_status">
                                                {% for st in status %}
                                                    {% if st.pk == 2 %}
                                                        <option value="{{ st.pk }}" selected>{{ st.name }}</option>
                                                    {% else %}
                                                        <option value="{{ st.pk }}">{{ st.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                            {% if show_users %}
                                                <select class="form-control" name="intervention_assigned"
                                                        id="intervention_assigned">
                                                    {% for u in users %}
                                                        <option value="{{ u.pk }}">Asignar
                                                            a {{ u.get_full_name }}</option>
                                                    {% endfor %}
                                                </select>
                                            {% endif %}
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <button type="submit" class="btn btn-block btn-danger">
                                                <span class="fa fa-flash"></span>
                                            </button>
                                        </div>
                                    </div>

                                </form>
                                <hr>
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Cambiar zona:</h5>

                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <a class="btn btn-block" id="btn-color" href="#"
                                               style="color:white; background-color:{{ intervention.zone.color }}">
                                                <i class="fa fa-map"></i>
                                            </a>
                                        </div>

                                        <div class="col-xs-12 col-md-8">
                                            <select name="intervention_zone" class="form-control" id="selector_color">
                                                {% for zone in zones %}
                                                    {% if zone.pk == intervention.zone.pk %}
                                                        <option value="{{ zone.pk }}" data-color="{{ zone.color }}"
                                                                selected>{{ zone.name }}</option>
                                                    {% else %}
                                                        <option value="{{ zone.pk }}"
                                                                data-color="{{ zone.color }}">{{ zone.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <button type="submit" class="btn btn-block btn-success">
                                                <span class="fa fa-map-marker"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <hr>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <form method="post" class="form_modify"
                                      action="{% url 'intervention:intervention-edit' intervention.pk %}">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            <h5>Añadir modificación:</h5>

                                        </div>
                                        <div class="col-xs-12 col-md-10">
                                <textarea class="form-control" name="intervention_modification" rows="6"
                                          placeholder="Escribe aquí una modificación" required></textarea>
                                        </div>
                                        <div class="col-xs-12 col-md-2">
                                            <button type="submit" class="btn btn-block btn-warning">
                                                <span class="fa fa-plus"></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>


                    </div>
                    <div class="panel-body forms_progress" style="display: none">
                        <div class="col-md-12">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped active" role="progressbar"
                                     aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}


    {% if intervention.status_id == 2 and not request.user.is_officer %}

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Notificar estado del trabajo</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row" id="forms">
                            <form method="post"
                                  action="{% url 'intervention:intervention-status-job' intervention.pk %}">
                                {% csrf_token %}
                                <div class="col-xs-12 col-md-9">
                                    <select class="form-control" name="sub_status">
                                        {% for s in sub_status %}
                                            <option value="{{ s.pk }}">{{ s }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-xs-12 col-md-3">
                                    <button type="submit" class="btn btn-block btn-danger">
                                        <span class="fa fa-flash"></span> Notificar
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if intervention.get_history_sub|length > 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Historial de estado del trabajo</h3>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped" id="sub_history_table">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                            </tr>
                            {% for h in intervention.get_history_sub %}
                                <tr>
                                    <td>
                                        {{ h.date|date:"d-m-Y" }} {{ h.date|time:"H:i" }}
                                    </td>
                                    <td>
                                        {{ h.created_by.get_full_name }}
                                    </td>
                                    <td>
                                        {{ h.sub_status }}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Historial de la avería</h3>
                </div>
                <div class="panel-body">
                    {% if intervention.get_history|length > 0 %}
                        <table class="table table-bordered table-hover table-striped" id="history_table">
                            <tr>
                                <th>Fecha</th>
                                <th>Usuario</th>
                                <th>Estado</th>
                                <th>Operario</th>
                            </tr>
                            {% for h in intervention.get_history %}
                                <tr>
                                    <td>
                                        {{ h.date|date:"d-m-Y" }} {{ h.date|time:"H:i" }}
                                    </td>
                                    <td>
                                        {{ h.created_by.get_full_name }}
                                    </td>
                                    <td>
                                        {{ h.status }}
                                    </td>
                                    <td>
                                        {% if h.assigned %}{{ h.assigned.get_full_name }}{% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <h5>No hay historial disponible para mostrar</h5>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>

    {% include 'sms_include.html' with obj=intervention title="SMS de la avería" %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Datos de la avería

                        {% if request.user.is_officer %}
                            <div class="pull-right">
                                <a class="btn btn-xs btn-primary btn-circle btn-circle-inline"
                                   href="{% url 'intervention:intervention-print' intervention.pk %}" target="_blank"><i
                                        class="fa fa-print"></i> </a>
                                <a class="btn btn-xs btn-default btn-circle btn-circle-inline"
                                   href="{% url 'intervention:intervention-edit-data' intervention.pk %}"><i
                                        class="fa fa-edit"></i> </a>
                            </div>
                        {% endif %}</h3>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <td style="width: 15%">
                                <strong>Fecha</strong>
                            </td>
                            <td>
                                {{ intervention.date|date:"d-m-Y" }} {{ intervention.date|time:"H:i" }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Descripción corta</strong>
                            </td>
                            <td>
                                {{ intervention.short_description }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Zona y etiquetas</strong>
                            </td>
                            <td>
                                {% include 'zone_include.html' with zone=intervention.zone %}
                                {% for tag in intervention.tags.all %}
                                    {% include 'zone_include.html' with zone=tag %}
                                {% endfor %}

                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Creada por</strong>
                            </td>
                            <td>
                                {{ intervention.created_by.get_full_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Estado</strong>
                            </td>
                            <td>
                                {{ intervention.status }} {% if intervention.status_id == 2 %} -
                                {{ intervention.assigned.get_full_name }} {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Descripción</strong>
                            </td>
                            <td id="intervention_description">
                                {{ intervention.description|linebreaks }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script type="application/javascript">
        var default_sms = "{{ sms_value }}";
        var from_model_val = "intervention";
        var default_subject = "Aviso ATH";
        var from_model_id_val = {{ intervention.pk }};
    </script>
    <script src="{% static 'base/js/intervention/detail.js' %}{% app_version_includes %}"></script>
    <script src="{% static 'base/js/client/sms_email.js' %}{% app_version_includes %}"></script>
    <script src="{% static 'base/js/client/geolocation.js' %}{% app_version_includes %}"></script>
{% endblock %}
{% block extracss %}
    <link href="{% static 'base/css/intervention/detail.css' %}{% app_version_includes %}" rel="stylesheet"
          type="text/css">
{% endblock %}