{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block page_title %}Averías{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-lg-3 col-md-12">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-comments fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ status_pending }}</div>
                                    <div>Pendientes</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'intervention:intervention-list' 1 0 0 0 %}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver Listado</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-12">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-users fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ status_assigned }}</div>
                                    <div>Asignadas</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'intervention:intervention-list' 2 0 0 0 %}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver listado</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-warning fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ status_cancelled }}</div>
                                    <div>Anuladas</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'intervention:intervention-list' 4 0 0 0 %}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver listado</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-calculator fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ status_billing }}</div>
                                    <div>Facturar</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'intervention:intervention-list' 5 0 0 0 %}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver listado</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-check fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ status_terminated }}</div>
                                    <div>Completadas</div>
                                </div>
                            </div>
                        </div>
                        <a href="{% url 'intervention:intervention-list' 3 0 0 0 %}">
                            <div class="panel-footer">
                                <span class="pull-left">Ver listado</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- /.row -->


    <!-- /.row -->
    <div class="row" style="padding-top: 10px">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Entrada de averías

                    <div style="display: inline"><strong id="label_chart">(Mes actual)</strong></div>

                    <div class="pull-right">

                        <button class="btn btn-xs btn-success"
                           id="btn_change_chart"><i
                                class="fa fa-chain"></i> Cambiar</button>
                    </div>

                    <div class="pull-right">
                        <select id="month_chart" class="btn btn-default btn-mini">
                            {% for m in months %}
                                <option value="{{ m }}">{{ m }}</option>
                            {% endfor %}
                        </select>
                        <span class="caret"></span>

                        <select id="year_chart" class="btn btn-default btn-mini">
                                {% for y in years %}
                                <option value="{{ y }}">{{ y }}</option>
                                {% endfor %}
                        </select>
                        <span class="caret"></span>
                    </div>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-line-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading" id="bar-chart-title">
                    <i class="fa fa-database fa-fw"></i>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-12">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Últimas modificaciones en averías
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for mod in modifications %}
                            <a href="{% url 'intervention:intervention-view' mod.intervention_id %}"
                               class="list-group-item" style="font-size: x-small;">
                                {{ mod.intervention.address.client }} {{ mod.intervention }}
                                    <span class="pull-right text-muted small"><em>hace {{ mod.date|timesince }}</em>
                                    </span>
                            </a>
                        {% endfor %}
                    </div>
                    <!-- /.list-group -->
                    <a href="{% url 'intervention:intervention-modifications' %}" class="btn btn-default btn-block">Ver
                        todas las modificaciones</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Asignaciones de averías
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock %}
{% block chartjs %}
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'raphael/raphael.min.js' %}"></script>
    <script src="{% static 'morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'base/js/intervention/morris-data.js' %}"></script>
{% endblock %}
{% block extracss %}
    <link href="{% static 'base/css/intervention/home.css' %}" rel="stylesheet" type="text/css">
{% endblock %}