{% extends 'base.html' %}
{% load static %}
{% load staticfiles %}
{% block page_title %}Averías{% endblock %}
{% block content %}

    <div class="row">

        <div class="col-lg-12 col-md-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <a href="{% url 'intervention:intervention-list' 1 0 0 0 0 %}"><span
                            class="badge pull-right">{{ status_pending }}</span>
                        <h3 class="panel-title"><i class="fa fa-clock-o"></i> Pendientes</h3></a>
                </div>
                <div class="panel-body">
                    {% for z in zones %}
                        {% if z.pending_interventions > 0 %}
                            <a href="{% url 'intervention:intervention-list' 1 0 z.pk 0 0 %}">
                                {% include 'zone_include.html' with zone=z badge=z.pending_interventions %}
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% for t in tags %}
                        {% if t.pending_interventions > 0 %}
                            <a href="{% url 'intervention:intervention-list' 1 0 0 0 t.pk %}">
                                {% include 'zone_include.html' with zone=t badge=t.pending_interventions %}
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-6 col-md-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <a href="{% url 'intervention:intervention-list' 2 0 0 0 0 %}"><span
                            class="badge pull-right">{{ status_assigned }}</span>
                        <h3 class="panel-title" style="color:#8a6d3b !important;"><i class="fa fa-user"></i>
                            Asignadas actualmente</h3>
                    </a>
                </div>
                <div class="panel-body">
                    {% for u in users %}
                        {% if u.assigned_interventions > 0 %}
                            <a class="btn btn-default btn-inline"
                               href="{% url 'intervention:intervention-list' 2 u.pk 0 0 0 %}"><span
                                    class="badge">{{ u.assigned_interventions }}</span> <i
                                    class="fa fa-user"></i> {{ u.first_name }} </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="col-lg-6 col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-database"></i> Otros estados</h3>
                </div>
                <div class="panel-body">
                    <a href="{% url 'intervention:intervention-list' 3 0 0 0 0 %}"
                       class="btn btn-success btn-inline">
                        <span class="badge">{{ status_terminated }}</span>
                        <i class="fa fa-check "></i> Terminadas
                    </a>
                    <a href="{% url 'intervention:intervention-list' 4 0 0 0 0 %}"
                       class="btn btn-danger btn-inline">
                        <span class="badge">{{ status_cancelled }}</span>
                        <i class="fa fa-warning"></i> Anuladas
                    </a>
                    <a href="{% url 'intervention:intervention-list' 5 0 0 0 0 %}"
                       class="btn btn-info btn-inline">
                        <span class="badge">{{ status_billing }}</span>
                        <i class="fa fa-calculator"></i> Para facturar
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->


    <!-- /.row -->
    <div class="row" style="padding-top: 10px">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Entrada de averías

                    <div style="display: inline"><strong id="label_chart">(Mes actual)</strong></div>

                    <div class="pull-right graphic-data-selector">
                        <select id="month_chart" class="form-control">
                            {% for m in months %}
                                <option value="{{ m }}">{{ m }}</option>
                            {% endfor %}
                        </select>

                        <select id="year_chart" class="form-control year-selector">
                            {% for y in years %}
                                <option value="{{ y }}">{{ y }}</option>
                            {% endfor %}
                        </select>

                        <button class="btn btn-xs btn-warning"
                                id="btn_change_chart"><i
                                class="glyphicon glyphicon-record"></i>
                        </button>
                    </div>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div id="morris-line-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-map-marker fa-fw"></i> Mapa de averías asignadas | <a
                        href="{% url 'intervention:intervention-map' %}"> Ver más grande</a>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body" style="padding-bottom: 0px; padding-top: 0px">
                    <div class="row">
                        <!-- /.col-lg-4 (nested) -->
                        <div class="iframe-container" id="map">
                            <!-- embed code here -->
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading" id="bar-chart-title">
                    <i class="fa fa-database fa-fw"></i>

                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-12">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Asignación mensual de averías
                </div>
                <div class="panel-body">
                    <div id="morris-donut-chart"></div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bell fa-fw"></i> Últimas modificaciones en averías
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="list-group">
                        {% for mod in modifications %}
                            <a href="{% url 'intervention:intervention-view' mod.intervention_id %}"
                               class="list-group-item" style="font-size: x-small;">
                                {{ mod.intervention.address.client }} {{ mod.intervention }}
                                <span class="pull-right text-muted small"><em>hace {{ mod.date|timesince }}</em>
                                    </span>
                            </a>
                        {% endfor %}
                    </div>
                    <!-- /.list-group -->
                    <a href="{% url 'intervention:intervention-modifications' %}" class="btn btn-default btn-block">Ver
                        todas las modificaciones</a>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->

        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

{% endblock %}
{% block chartjs %}
    <!-- Morris Charts JavaScript -->
    <script src="{% static 'raphael/raphael.min.js' %}"></script>
    <script src="{% static 'morrisjs/morris.min.js' %}"></script>
    <script src="{% static 'base/js/intervention/morris-data.js' %}"></script>
    <script src="{% static 'base/js/intervention/map.js' %}"></script>
    {% include 'map_include.html' with interventions=interventions %}
{% endblock %}
{% block extracss %}
    <link href="{% static 'morrisjs/morris.css' %}" rel="stylesheet">
    <link href="{% static 'base/css/intervention/home.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'base/css/intervention/map.css' %}" rel="stylesheet" type="text/css">
{% endblock %}