{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Listado de averías{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            {% for intervention in interventions %}
                <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td style="width: 15%">
                        <a href="{% url 'intervention-view' intervention.pk %}" class="btn btn-danger btn-block">{{ intervention }}</a>
                    </td>
                    <td>
                        {% if search_status.pk < 3 %}
                        <a href="{% url 'intervention-terminate' intervention.pk %}" class="btn btn-default">Terminar Avería</a>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fecha</strong>
                    </td>
                    <td>
                       {{ intervention.date }}
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>Zona</strong>
                    </td>
                    <td >
                        <div style="background-color: {{ intervention.zone.color }}" class="zone">{{ intervention.zone }}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estado</strong>
                    </td>
                    <td>
                        {{ intervention.status }}{% if intervention.status_id == 2 %} - {{ intervention.assigned.get_full_name }} {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Cliente</strong>
                    </td>
                    <td>
                        {{ intervention.address.client }}
                    </td>
                </tr>
            </table>


            {% endfor %}

        </div>
    </div>


{% endblock %}