{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}{% if title %}{{ title }}{% else %}Listado de averías
    <small>{{ search_status }}  {% if search_status.pk == 2 %} |
        <a href="{% url 'intervention:intervention-map' %}"><i class="fa fa-map-marker"> </i> Ver mapa</a>{% endif %}
    </small> {% endif %}{% endblock %}
{% block content %}

    {% if list_navigation %}
        <div class="row">
            <div class="col-lg-12">
                <nav class="navbar navbar-default">
                    <div class="container-fluid">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="navbar-brand" href="#">Filtros</a>
                        </div>

                        <!-- Collect the nav links, forms, and other content for toggling -->
                        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav">
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"> Filtro operario <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'intervention:intervention-list' intervention_status 0 zone_assigned starred tag_assigned %}">Todos
                                                los operarios</a>
                                        </li>
                                        {% for user in users %}
                                            <li>
                                                <a href="{% url 'intervention:intervention-list' intervention_status user.pk zone_assigned starred tag_assigned %}">{{ user.get_full_name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"> Filtro zona <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'intervention:intervention-list' intervention_status user_assigned 0 starred tag_assigned %}">
                                                <div style="background-color: grey; border-color: black"
                                                     class="zone">TODAS
                                                </div>
                                            </a></li>

                                        {% for zone in zones %}
                                            <li>
                                                <a href="{% url 'intervention:intervention-list' intervention_status user_assigned zone.pk starred tag_assigned %}">
                                                    {% include 'zone_include.html' with zone=zone %}
                                                </a></li>
                                        {% endfor %}
                                    </ul>
                                </li>


                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"> Filtro etiqueta <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned starred 0 %}">
                                                <div style="background-color: grey; border-color: black"
                                                     class="zone">TODAS
                                                </div>
                                            </a></li>

                                        {% for tag in tags %}
                                            <li>
                                                <a href="{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned starred tag.pk %}">
                                                    {% include 'zone_include.html' with zone=tag %}
                                                </a></li>
                                        {% endfor %}
                                    </ul>
                                </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                                       aria-haspopup="true" aria-expanded="false"> Prioritarias <span
                                            class="caret"></span></a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a href="{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned 0 tag_assigned %}">
                                                Ver todas
                                            </a>
                                        </li>
                                        <li>
                                            <a href="{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned 1 tag_assigned %}">
                                                Ver sólo prioritarias
                                            </a>
                                        </li>
                                    </ul>
                                </li>


                                {% if user_assigned != "0" or zone_assigned != "0" or starred %}
                                    <!-- <li><a href="{% url 'intervention:intervention-list' intervention_status 0 0 0 0 %}">Desactivar
                                        todos
                                        los filtros</a></li> -->
                                {% endif %}

                                <li>
                                    <a href="{% url 'intervention:intervention-print-list' intervention_status user_assigned zone_assigned starred tag_assigned %}?page={{ page }}"
                                       target="_blank"><i class="fa fa-print"></i> Imprimir</a></li>
                            </ul>
                            <ul class="nav navbar-nav navbar-right navbar-filters">
                                {% if search_user %}
                                    <li class="li-filters">

                                        <a class="zone"
                                           href="{% url 'intervention:intervention-list' intervention_status 0 zone_assigned starred tag_assigned%}"
                                           style="color: black !important; background-color: white">
                                            <i class="fa fa-user"></i> {{ search_user.get_full_name|upper }}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if search_zone %}
                                    <li class="li-filters">
                                        <a style="margin-top: -15px; padding-right: 1px; padding-left: 1px" href="{% url 'intervention:intervention-list' intervention_status user_assigned 0 starred tag_assigned %}">
                                            {% include 'zone_include.html' with zone=search_zone %}
                                        </a>
                                    </li>
                                {% endif %}
                                {% if search_tag %}
                                    <li class="li-filters">
                                        <a style="margin-top: -15px; padding-left: 1px; padding-right: 1px" href="{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned starred 0 %}">
                                            {% include 'zone_include.html' with zone=search_tag %}
                                        </a>
                                    </li>
                                {% endif %}

                                {% if starred %}
                                    <li class="li-filters">
                                        <button type="button" class="btn btn-danger btn-circle pull-right"
                                                style="margin-right: 5px"
                                                onclick="location.href = '{% url 'intervention:intervention-list' intervention_status user_assigned zone_assigned 0 tag_assigned %}';">
                                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        </button>
                                    </li>
                                {% endif %}
                            </ul>

                        </div><!-- /.navbar-collapse -->
                    </div><!-- /.container-fluid -->
                </nav>
            </div>
        </div>
    {% endif %}
    {% include 'paginator.html' with obj=interventions %}
    {% include 'list_intervention_include.html' with interventions=interventions %}
    {% include 'paginator.html' with obj=interventions %}


{% endblock %}