<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        {% for intervention in interventions %}
            <table class="table table-bordered table-hover table-striped">
                <tr>
                    <td style="width: 15%">
                        {% if nolinks %}
                            <strong>{{ intervention }}</strong>
                        {% else %}
                            <a href="{% url 'intervention:intervention-view' intervention.pk %}"
                               class="btn btn-danger btn-block">{{ intervention }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if request.user.is_officer and not nolinks and search_status.pk != 3 and search_status.pk != 4 %}
                            <a href="{% url 'intervention:intervention-terminate' intervention.pk %}"
                               class="btn btn-primary">
                            <div class="btn-mobile-list-intervention">Terminar</div>
                                <div class="btn-desktop-list-intervention">Marcar para Terminar</div>
                            </a>

                        {% endif %}
                        {% if nolinks %}
                            {% if intervention.starred %}
                                <strong>DESTACADA</strong>,
                            {% endif %}
                            Modificaciones: {{ intervention.get_num_modifications }}
                        {% else %}

                            {% if intervention.has_media %}
                                <button disabled
                                    class="btn btn-success btn-circle pull-right"
                                        data-toggle="tooltip" title="Tiene archivos adjuntos" >
                                <i class="fa fa-paperclip"></i></button>
                            {% endif %}

                            {% if intervention.repairs_ath.all|length > 0 or  intervention.repairs_idegis.all|length > 0 or intervention.budgets.all|length > 0 %}
                                <button disabled
                                    class="btn btn-info btn-circle pull-right"
                                        data-toggle="tooltip" title="Tiene vinculaciones" >
                                <i class="fa fa-chain"></i></button>
                            {% endif %}

                            {% if intervention.get_num_modifications > 0 %}
                                <button disabled
                                    class="btn btn-warning btn-circle pull-right"
                                        data-toggle="tooltip" title="Tiene modificaciones" style="margin-right: 5px">
                                <strong>{{ intervention.get_num_modifications }}</strong></button>
                            {% endif %}

                            {% if intervention.starred %}
                                <button type="button" class="btn btn-danger btn-circle pull-right" disabled
                                        style="margin-right: 5px"  data-toggle="tooltip" title="Es prioritaria">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Fecha</strong>
                    </td>
                    <td>
                        {{ intervention.date }}
                    </td>

                </tr>
                <tr>
                    <td>
                        <strong>Zona</strong>
                    </td>
                    <td>
                        {% if nolinks %}
                            {{ intervention.zone }} {% for tag in intervention.tags.all %}
                               / {{ tag }}
                            {% endfor %}  - {{ intervention.address }}

                        {% else %}
                            {% include 'zone_include.html' with zone=intervention.zone %}
                            {% for tag in intervention.tags.all %}
                                {% include 'zone_include.html' with zone=tag %}
                            {% endfor %}
                            {{ intervention.address }}

                        {% endif %}

                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Estado</strong>
                    </td>
                    <td>
                        {{ intervention.status }}{% if intervention.status_id == 2 %} -
                            {{ intervention.assigned.get_full_name }} {% endif %}
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Cliente</strong>
                    </td>
                    <td>
                        {{ intervention.address.client }}
                    </td>
                </tr>
            </table>
        {% endfor %}
    </div>
</div>