{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Lista de modificaciones{% endblock %}
{% block content %}
    {% include 'paginator.html' with obj=modifications %}
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-bordered table-hover table-striped">
                <tbody>
                <tr>
                    <th>Avería</th>
                    <th>Cliente</th>
                    <th>Creada por</th>
                    <th>Tiempo</th>
                    <th></th>
                </tr>

                {% for mod in modifications %}
                    <tr>
                        <td>
                            {{ mod.intervention }} {% if mod.intervention.starred %}
                                <button type="button" class="btn btn-danger btn-circle pull-right" disabled
                                        style="margin-right: 5px">
                                    <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                </button>
                            {% endif %}
                        </td>
                        <td>
                            {{ mod.intervention.address.client.name }}
                        </td>
                        <td>
                            {{ mod.created_by.get_full_name }}
                        </td>
                        <td>
                            hace {{ mod.date|timesince }}
                        </td>
                        <td>
                            <a href="{% url 'intervention:intervention-view' mod.intervention_id %}" class="btn btn-block btn-danger">Ver</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% include 'paginator.html' with obj=modifications %}
{% endblock %}