<form action="{% url 'intervention:intervention-image-upload' intervention.pk %}" method="post" id="form_image"
      enctype="multipart/form-data" class="pull-right">{% csrf_token %}
    <label class="btn btn-default btn-file btn-circle" id="label_image">
        <span class="glyphicon glyphicon-camera" style="color: orange" aria-hidden="true" id="icon_image"/> <input type="file" style="display: none;" id="image" name="image" accept="image/*">
    </label>
</form>
<div class="pull-right" style="padding-right: 5px">
    <label class="btn btn-default btn-file btn-circle" id="label_document">
        <span class="glyphicon glyphicon-file" style="color: darkblue" aria-hidden="true" id="icon_document"/> <input data-token="{{ csrf_token }}" data-url="{% url 'intervention:intervention-preupload-document' intervention.pk %}" type="file" style="display: none;" id="document" name="document">
    </label>
</div>

