<div class="pull-right" style="padding-right: 5px" id="icon_image">
    <label class="btn btn-default btn-file btn-circle" id="label_image">
        <span class="glyphicon glyphicon-camera" style="color: orange" aria-hidden="true"/>
    </label>
</div>

<div class="pull-right" style="padding-right: 5px" id="icon_document">
    <label class="btn btn-default btn-file btn-circle" id="label_document">
        <span class="glyphicon glyphicon-file" style="color: darkblue" aria-hidden="true"/>
    </label>
</div>

