{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Nueva imagen <small>{{ intervention }}</small>{% endblock %}
{% block content %}


<div class="row">
    <div class="col-md-12 col-xs-12 col-lg-12">
        <form action="" method="post" id="new_form" enctype="multipart/form-data">{% csrf_token %}
            {{ form }}
         <div class="form-group">
         <button type="submit" class="btn btn-primary">Guardar y continuar</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/js/client/new_phone_address.js' %}"></script>
{% endblock %}