{% if request.user.is_officer %}
<a href="{% url 'intervention:intervention-starred' intervention.pk %}"
   class="btn {% if intervention.starred %}btn-danger{% else %}btn-default{% endif %} btn-circle">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span><div class="text-desktop-starred"></div>
</a>
{% else %}
    <button
   class="btn {% if intervention.starred %}btn-danger{% else %}btn-default{% endif %} btn-circle" disabled>
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span><div class="text-desktop-starred"></div>
    </button>
{% endif %}