{% if messages_mundiagua|length > 0 %}
    {% for m in messages_mundiagua %}
        <li>
            <a href="{% url 'core:message-inbox' %}">
                <div>
                    <strong>{{ m.from_user.get_full_name }}</strong>
                                    <span class="pull-right text-muted">
                                        <em>{{ m.date|timesince }}</em>
                                    </span>
                </div>
                <div>{{ m.body }}</div>
            </a>
        </li>
        <li class="divider"></li>
    {% endfor %}
{% else %}
    <li>
        <a class="text-center" href="#">
            <strong>No hay mensajes que mostrar</strong>
        </a>
    </li>
    <li class="divider"></li>
{% endif %}



