{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Mensajes{% endblock %}
{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Filtros</a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="{% url 'message-inbox' %}">Recibidos</a></li>
                            <li><a href="{% url 'message-sent' %}">Enviados</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-comments fa-fw"></i>
                    Listado de mensajes
                    <div class="btn-group pull-right">
                                <a href="{% url 'message-new' %}" class="btn btn-default btn-xs">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <ul class="chat">
                        {% for message in messages_mundiagua %}
                            <li class="left clearfix">
                                    <span class="chat-img pull-left">
                                        <div class="default-profile-photo" style="height:50px; width:50px;">
                                            {% if message.from_user == request.user %}
                                                {{ message.to_user.get_full_name }}
                                            {% else %}
                                                {{ message.from_user.get_full_name }}
                                            {% endif %}
                                        </div>
                                    </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        {% if message.from_user == request.user %}Para <strong class="primary-font">
                                            {{ message.to_user.get_full_name }}{% else %}De
                                            <strong class="primary-font">
                                            {{ message.from_user.get_full_name }}{% endif %}</strong> - {{ message.subject }}
                                        <small class="pull-right text-muted">
                                            <i class="fa fa-clock-o fa-fw"></i> {{ message.date }}
                                        </small>
                                    </div>
                                    <p>
                                    {{ message.body }}
                                    </p>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>


        </div>
    </div>
    {% include 'paginator.html' with obj=messages_mundiagua %}


{% endblock %}
{% block extrajs %}
    <script src="{% static 'material-avatar/material-avatar.min.js' %}"></script>
    <script src="{% static 'base/js/core/message-list.js' %}"></script>
{% endblock %}