{% extends 'user_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% block title %}Cambio de contraseña{% endblock %}
{% block alert %}
    {% if request.user.has_to_change_password %}
        <div class="alert alert-danger" role="alert"><strong>Debe cambiar la contraseña.</strong> Hace más
            de un año ({{ request.user.last_password_update }}) que no cambia su contraseña, por seguridad debe
            cambiarla.
            {% if request.user.is_officer %}
                <p><a href="{% url 'intervention:intervention-home' %}" class="btn btn-success ">Hacerlo más tarde</a>
                </p>
            {% else %}
                <p><a href="{% url 'intervention:intervention-list-own' %}" class="btn btn-success ">Hacerlo más
                    tarde</a></p>
            {% endif %}

        </div>
    {% endif %}

    {% if request.user.is_google %}
        <div class="alert alert-warning" role="alert">Su cuenta está vinculada a Google, este cambio no tendrá ningun
            efecto.
        </div>

    {% endif %}
{% endblock %}

{% block contentpanel %}
    <form role="form" method="post" id="form-log">
        {% csrf_token %}
        <fieldset>
            <div id="form-data">
                {{ form|bootstrap }}
            </div>
            <input type="hidden" name="next"
                   value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}"/>
            <button type="submit" id="btn-log" class="btn btn-warning btn-block">Cambiar</button>
        </fieldset>
    </form>
{% endblock %}
