{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block page_title %}
    Mensajes recibidos GSM
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% block alert %} {% endblock %}
        </div>
    </div>

    <div class="row" id="error-alert">
        <div class="col-md-12">
            <div class="alert alert-danger">Este servicio ya no se encunetra disponible</div>
        </div>
    </div>

{% endblock %}