{% extends 'user_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% block title %}Información de <strong>{{ request.user.get_full_name }}</strong>{% endblock %}
{% block alert %}
    {% if request.user.has_to_change_password %}
    <div class="alert alert-danger" role="alert"><strong>Debe cambiar la contraseña urgentemente.</strong> Hace más de un año que no cambia su contraseña, por seguridad debe cambiarla.</div>
      {% endif %}
{% endblock %}
{% block contentpanel %}
    <fieldset>
        <ul>
            <li><strong>Último cambio de contraseña:</strong> {{ request.user.last_password_update }} <a
                    href="{% url 'password-change' %}"
                    class="btn btn-warning btn-xs">Cambiar ahora</a></li>
            <li><strong>Email corporativo:</strong> {{ request.user.email }}</li>
            <li><strong>Sistemas de notificación:</strong> {% if request.user.has_pb %} PushBullet
                <img src="{% static 'base/img/pb.png' %}" height="24" width="24" data-toggle="tooltip"
                     data-placement="top" title="{{ request.user.pb_token }}">, {% endif %} {% if request.user.phone %} SMS <div class="fa fa-comment"></div>, {% endif %}Email
                <div class="fa fa-envelope"></div>
            </li>
            <li><strong>Teléfono</strong>: {{ request.user.phone }}</li>
            <li><strong>Tipo de usuario</strong>: {% if request.user.is_superuser %}
                Administrador {% elif request.user.is_officer %} Oficina {% else %} Operario {% endif %}</li>
        </ul>

    </fieldset>
{% endblock %}
