{% extends 'user_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% block title %}Información de <strong>{{ request.user.get_full_name }}</strong>{% endblock %}
{% block contentpanel %}
    <fieldset>
        <ul>
            <li><strong>Email corporativo:</strong> {{ request.user.email }}</li>
            <li><strong>Teléfono</strong>: {{ request.user.phone }}</li>
            <li><strong>Tipo de usuario</strong>: {% if request.user.is_superuser %}
                Administrador {% elif request.user.is_officer %} Oficina {% else %} Operario {% endif %}</li>
        </ul>
    </fieldset>
{% endblock %}

{% block telegrampanel %}
    {% if not request.user.external_messaging_id %}
        <p>Usted no se encunetra registrado en Telegram</p>
        <p><a class="btn btn-success" href="{% url 'core:user-manage-telegram-link' %}">Iniciar registro</a></p>
    {% else %}
        <p>Usted se encunetra registrado en Telegram, si tiene problemas puede probar a desvincular sus dispositivos.</p>
        <p><a class="btn btn-primary" href="https://t.me/{{ telegran_name }}?start={{ request.user.external_messaging_id }}">Vincular nuevo dispositivo</a> <a class="btn btn-danger" href="{% url 'core:user-manage-telegram-unlink' %}">Desvincular todos los dispositivos</a></p>
    {% endif %}
{% endblock %}
