{% extends 'user_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% block title %}Información de <strong>{{ request.user.get_full_name }}</strong>
    <div class="pull-right">
        {% if request.user.is_google %}
            <img src="{% static 'base/img/google.png' %}" class="google-logo"/>
        {% endif %}
        <div class="fa fa-envelope"></div>
        {% if request.user.has_pb %}
            <img src="{% static 'base/img/pb.png' %}" height="24" width="24" data-toggle="tooltip"
                 data-placement="top" title="{{ request.user.pb_token }}">
        {% endif %}
        {% if request.user.telegram_token %}
            <img src="{% static 'base/img/telegram.png' %}" height="24" width="24" data-toggle="tooltip"
                 data-placement="top" title="{{ request.user.pb_token }}">
        {% endif %}
    </div>
{% endblock %}
{% block alert %}
    {% if request.user.has_to_change_password %}
        <div class="alert alert-danger" role="alert"><strong>Debe cambiar la contraseña urgentemente.</strong> Hace más
            de un año que no cambia su contraseña, por seguridad debe cambiarla.
        </div>
    {% endif %}
{% endblock %}
{% block contentpanel %}
    <fieldset>
        <ul>
            <li><strong>Email corporativo:</strong> {{ request.user.email }}</li>
            <li><strong>Teléfono</strong>: {{ request.user.phone }}</li>
            <li><strong>Tipo de usuario</strong>: {% if request.user.is_superuser %}
                Administrador {% elif request.user.is_officer %} Oficina {% else %} Operario {% endif %}</li>
            <li><strong>Código Telegram:</strong> <code>/register {{ request.user.id }}-{{ request.user.get_telegram_auth }}</code></li>
        </ul>

        {% if not request.user.telegram_token %}
            <h4>Registro Telegram</h4>
            <p><a class="btn btn-info" href="https://t.me/{{ telegran_name }}"><i class="fa fa-send"></i> Abrir Telegram</a>
                Código de registro: <code>/register {{ request.user.id }}-{{ request.user.get_telegram_auth }}</code>
            </p>
        {% endif %}
    </fieldset>
{% endblock %}
