{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Gestión de usuario{% endblock %}


{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% block alert %} {% endblock %}
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Gestión de Telegram <img src="{% static 'base/img/telegram.png' %}" height="24" width="24" data-toggle="tooltip"
                                                                     data-placement="top"></h3>
                </div>
                <div class="panel-body">
                    <h4>Perfil de Telegram creado correctamente, presione el botón para vincular su dispositivo</h4>
                    <p><a class="btn btn-primary" href="https://t.me/{{ telegran_name }}?start={{ request.user.external_messaging_id }}">Vincular nuevo dispositivo</a></p>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
