{% extends 'log_base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block title %}Página no encontrada{% endblock %}
{% block content %}

    <div class="alert alert-warning">
        <a class="close" data-dismiss="alert">×</a>
        <p>No se ha encontrado la página solicitada, puede ser que el elemento haya sido borrado, si los problemas
            persisten contacte con el administrador</p>
    </div>

    <a href="javascript:history.back()" class="btn btn-lg btn-primary btn-block">Volver
    </a>
{% endblock %}
