{% load static %}
{% load staticfiles %}
{% load hijack_tags %}
{% load core_tags %}
<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mundiagua SL - Intranet {% app_version %}</title>

    <link rel='shortcut icon' href="{% static 'base/img/favicon.ico' %}" type='image/x-icon'/>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="{% static 'metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'startbootstrap-sb-admin-2/dist/css/sb-admin-2.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Animate.css -->
    <link href="{% static 'animate.css/animate.min.css' %}" rel="stylesheet" type="text/css">


    <link rel="stylesheet" type="text/css" href="{% static 'hijack/hijack-styles.css' %}"/>

    <link href="{% static 'base/css/mundiagua.css' %}{% app_version_includes %}" rel="stylesheet" type="text/css">

    <meta name="theme-color" content="{% template_color %}"/>

    {% block extracss %} {% endblock %}

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js' %}></script>
        <script src=" https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js' %}></script>
    <![endif]-->

</head>

<body>

{% hijack_notification %}

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Intranet {% app_version %}</a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <li>
                {% if request.gsm_status == 2 %}
                    <button class="btn btn-xs btn-warning" disabled>
                        Posible problema en servidor GSM <i class="fa fa-exclamation-triangle fa-fw"></i>
                    </button>
                {% elif request.gsm_status == 3 %}
                    <button class="btn btn-xs btn-danger" disabled>
                        Problema detectado en servidor GSM <i class="fa fa-exclamation-triangle fa-fw"></i>
                    </button>
                {% endif %}

                <!-- /.dropdown-user -->
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-envelope fa-fw" {% if request.user.has_notification > 0 %}
                       style="color: brown" {% endif %}></i> <i class="fa fa-caret-down"
                        {% if request.user.has_notification > 0 %} style="color: brown" {% endif %}></i>
                </a>
                <ul class="dropdown-menu dropdown-messages" id="message-ajax">
                    <li>
                        <a class="text-center" href="{% url 'core:message-inbox' %}">
                            <strong>Ver todos los mensajes</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a class="text-center" href="{% url 'core:message-new' %}">
                            <i class="fa fa-plus"></i>
                            <strong>Nuevo mensaje</strong>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
            <!-- /.dropdown -->
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="{% url 'core:user-manage' %}"><i
                            class="fa fa-user fa-fw"></i>{{ request.user.get_full_name }}</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'password-change' %}"><i class="fa fa-key fa-fw"></i> Cambiar contraseña</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}"><i class="fa fa-sign-out fa-fw"></i> Desconectar</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation" aria-expanded="false">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#"><i class="fa fa-dashboard fa-fw"></i> Averías<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            {% if request.user.is_officer %}
                                <li>
                                    <a href="{% url 'intervention:intervention-home' %}">Inicio</a>
                                </li>
                                <li>
                                    <a href="{% url 'intervention:intervention-search-client' %}">Nueva avería</a>
                                </li>
                                <li>
                                    <a href="{% url 'intervention:intervention-reports' %}">Informes</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="{% url 'intervention:intervention-list-own' %}">Mis averías asignadas</a>
                            </li>
                            {% if request.user.is_officer %}
                                <form method="post" action="{% url 'intervention:intervention-psearch' %}">
                                    <li class="sidebar-search">

                                        {% csrf_token %}
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Buscar avería"
                                                   name="search_text" required>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                        </div>
                                </form>

                                <!-- /input-group -->
                                </li>
                            {% endif %}

                        </ul>
                    </li>
                    {% if request.user.is_officer %}
                        <li>
                            <a href="#"><i class="fa fa-wrench fa-fw"></i> Reparaciones<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'repair:repair-search-client' %}">Nueva reparación</a>
                                </li>
                                <li>
                                    <a href="{% url 'repair:repair-list' 0 0 0 0 %}">Todas las reparaciones</a>
                                </li>
                                <li class="sidebar-search">
                                    <form method="post" action="{% url 'repair:repair-psearch' %}">
                                        {% csrf_token %}
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Buscar reparación"
                                                   name="search_text" required>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                        </div>
                                    </form>

                                    <!-- /input-group -->
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-circle-o-notch fa-fw"></i> Reparaciones de motores<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'engine:engine-search-client' %}">Nueva reparación</a>
                                </li>
                                <li>
                                    <a href="{% url 'engine:engine-all' %}">Todas las reparaciones</a>
                                </li>
                                <li class="sidebar-search">
                                    <form method="post" action="{% url 'engine:engine-psearch' %}">
                                        {% csrf_token %}
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Buscar reparación"
                                                   name="search_text" required>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                        </div>
                                    </form>

                                    <!-- /input-group -->
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> Clientes<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'client:client-new' %}">Nuevo cliente</a>
                                </li>
                                <li>
                                    <a href="{% url 'client:client-all' %}">Todos los clientes</a>
                                </li>
                                <li>
                                    <a href="{% url 'client:client-merge-step1' %}">Fusionar clientes</a>
                                </li>
                                <li class="sidebar-search">
                                    <form method="post" action="{% url 'client:client-psearch' %}">
                                        {% csrf_token %}
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Buscar clientes"
                                                   name="search_text" required>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                        </div>
                                    </form>

                                    <!-- /input-group -->
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-th fa-fw"></i> Presupuestos<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'budget:budget-search-client' %}">Nuevo presupuesto</a>
                                </li>
                                <li>
                                    <a href="{% url 'budget:budget-all' %}">Todos los presupuestos</a>
                                </li>
                                <li class="sidebar-search">
                                    <form method="post" action="{% url 'budget:budget-psearch' %}">
                                        {% csrf_token %}
                                        <div class="input-group custom-search-form">
                                            <input type="text" class="form-control" placeholder="Buscar presupuesto"
                                                   name="search_text" required>
                                            <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                                </span>
                                        </div>
                                    </form>

                                    <!-- /input-group -->
                                </li>

                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gears fa-fw"></i> Sistema<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'core:variable' %}">
                                        <i class="fa fa-codepen fa-fw"></i> Variables del sistema</a>
                                </li>
                                <li>
                                    <a href="{% url 'core:repair-status' %}">
                                        <i class="fa fa-gear fa-fw"></i> Estados Idegis & ATH</a>
                                </li>
                                <li>
                                    <a href="{% url 'core:engine-repair-status' %}">
                                        <i class="fa fa-code-fork fa-fw"></i> Estados Motor</a>
                                </li>
                                <li>
                                    <a href="{% url 'core:changelog' %}">
                                        <i class="fa fa-laptop fa-fw"></i> Acerca del sistema</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-download fa-fw"></i> Otros<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="http://gmail.mundiaguabalear.com" target="_blank">
                                        <i class="fa fa-send-o fa-fw"></i> Correo</a>
                                </li>

                                <li>
                                    <a href="https://web.whatsapp.com" target="_blank">
                                        <i class="fa fa-whatsapp fa-fw"></i> WhatsApp</a>
                                </li>

                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    {% endif %}
                    {% if request.user.is_officer or request.user.is_technician %}
                        <li>
                            <a href="#"><i class="fa fa-television fa-fw"></i> Gestión GSM<span
                                    class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="{% url 'core:sms-gsm' %}">
                                        <i class="fa fa-envelope-o fa-fw"></i> Gestión SMS GSM</a>
                                </li>
                                <li>
                                    <a href="http://mundiaguabalear.com/gsm" target="_blank">
                                        <i class="fa fa-wifi fa-fw"></i> GSM Microcom</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                    {% endif %}

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">{% block page_title %} {% endblock %}</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        {% block content %}

        {% endblock %}
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="{% static 'jquery/dist/jquery.min.js' %}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{% static 'metisMenu/dist/metisMenu.min.js' %}"></script>


{% block chartjs %} {% endblock %}


<!-- Custom Theme JavaScript -->
<script src="{% static 'startbootstrap-sb-admin-2/dist/js/sb-admin-2.js' %}"></script>

<script src="{% static 'remarkable-bootstrap-notify/dist/bootstrap-notify.min.js' %}"></script>

<script src="{% static 'base/js/core/message-ajax.js' %}{% app_version_includes %}"></script>

<script src="{% static 'base/js/core/notifications.js' %}{% app_version_includes %}"></script>
{% block extrajs %} {% endblock %}

{% block extrajs_include %} {% endblock %}

{% if messages %}
    <script type="text/javascript">
        {% for message in messages %}
            make_notification("{{ message }}", "{{ message.tags }}", false);
        {% endfor %}
    </script>
{% endif %}
{% if request.user.has_notification == 1 and not request.user.has_pb %}
    <script type="text/javascript">
        make_notification(
            "Tiene nuevos mensajes sin leer, <strong>pulse aquí para verlos</strong>",
            "info",
            "{% url 'core:message-inbox' %}"
        );
    </script>
{% endif %}


</body>
</html>
