{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Acerca del sistema{% endblock %}
{% block content %}


    <div class="panel panel-default">
        <div class="panel-heading">Estado del sistema</div>
        <div class="panel-body">
            <ul>
                <li>Intranet
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ intranet_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>Python
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ python_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>Django
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ django_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>AWS
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ amazon_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>Sendgrid
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ sendgrid_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>Celery
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ celery_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>Memcached
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ memcache_version }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li>PostgreSQL
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ postgre_version }} <i
                            class="fa fa-check"></i></button>
                    <button disabled class="btn-inline btn btn-xs btn-success">{{ postgre_version_c }} <i
                            class="fa fa-check"></i></button>
                </li>
                <li><img src="{% static 'base/img/google.png' %}" class="google-logo"/> Cuentas de Google
                    <button disabled class="btn btn-xs btn-success"><i class="fa fa-check"></i></button>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.9</h3>
            <h5>11/06/2018</h5>
            <ul>
                <li>Actualización mayor del sistema base</li>
                <li>Mejoras en los botones para interaccionar con teléfonos</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.8</h3>
            <h5>10/04/2018</h5>
            <ul>
                <li>Mejoras en vista móvil de cliente</li>
                <li>Mejoras en vista móvil de la pantalla de inicio</li>
                <li>Cambios en el inicio de sesión</li>
                <li>Arreglado el problema al enviar mensajes de WhatsApp</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.7</h3>
            <h5>22/01/2018</h5>
            <ul>
                <li>Envío de mensajes a clientes a través de Whatsapp</li>
                <li>Mejorados mensajes de error</li>
                <li>Eliminación automática de clientes sin dirección</li>
                <li>Corrección de errores gráficos</li>
                <li>Nuevos botones más intuitivos para crear a partir de cliente</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.5</h3>
            <h5>18/12/2017</h5>
            <ul>
                <li>Actualización mayor del sistema base</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.4</h3>
            <h5>04/12/2017</h5>
            <ul>
                <li>Autovinculación de averías cuando se escriben sus identificadores en una reparación</li>
                <li>Autovinculación de averías cuando se escriben sus identificadores en una presupuesto</li>
                <li>Indicación de que una avería tiene vinculaciones en los listados</li>
                <li>Indicación del número de presupuestos en listados de reparaciones</li>
                <li>Indicación del número de presupuestos en reparaciones en botón ver presupuestos</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.3</h3>
            <h5>10/11/2017</h5>
            <ul>
                <li>Rediseñado creación de cliente</li>
                <li>Vinculación de presupuestos y reparaciones desde averías</li>
                <li>Autovinculación de presupuestos y reparaciones en averías cuando se escriben sus identificadores
                    en descripción o modificaciones
                </li>
                <li>La búsqueda adminte ahora presupuestos en formato PM17-1245 o PM17/1235</li>
                <ul>
                    <h3>6.4.3.1 <button class="btn btn-xs btn-danger" disabled>HOTFIX</button> </h3>
                    <h5>14/11/2017</h5>
                    <li>Solucionado error en la búsqueda directa por código</li>

                </ul>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.2</h3>
            <h5>30/10/2017</h5>
            <ul>
                <li>Corrección de errores menores</li>
                <li>Páginas de error modificadas</li>
                <li>Mejoras en el sistema de ficheros y fotos en averías</li>
                <li>Cambios en diseño</li>
                <li>Posibilidad de eliminar imágenes y documentos</li>
                <li>Posibilidad de mostrar documentos a operarios</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4.1</h3>
            <h5>13/10/2017</h5>
            <ul>
                <li>Corrección de errores menores</li>
                <li>Señalización de archivos adjuntos</li>
                <li>Mejorada usabilidad para tablets</li>
                <li>Diseño de modificación de averías actualizado</li>
                <li>Acceso a sistema antiguo eliminado</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.4</h3>
            <h5>07/09/2017</h5>
            <ul>
                <li>Incrementada velocidad de carga de gráficas en inicio</li>
                <li>Incrementada velocidad de carga en edición de presupuestos</li>
                <li>Corrección de errores menores</li>
                <li>Posibilidad de añadir teléfonos internacionales y compatibles con SMS</li>
                <li>Mejorada web de estado de reparaciones para clientes</li>
                <li>Mejorada la galería de imágenes en averías con nuevos botones para cambiar de imagen</li>
                <li>Envío de email y SMS al cliente cuando registra una reparación para hacer seguimiento de esta</li>
                <li>Modificado el estilo de los emails</li>
                <li>Búsqueda en descripciones en averías</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.3.2</h3>
            <h5>23/08/2017</h5>
            <ul>
                <li>Corrección de errores en modificación de direcciones</li>
                <li>Corrección de errores gráficos</li>
                <li>Eliminado acceso a correo antiguo</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h3>6.3.1</h3>
            <h5>25/07/2017</h5>
            <ul>
                <li>Corrección de errores menores</li>
                <li>Corrección de errores con Google en operarios</li>
                <li>Actualizado sistema de inicio de sesión</li>
                <li>Mejoras al crear cliente</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.3</h3>
            <h5>30/06/2017</h5>
            <ul>
                <li><img src="{% static 'base/img/google.png' %}" class="google-logo"/> Acceso a intranet con cuenta
                    Google
                </li>
                <li>Sistema de etiquetas para las averías</li>
                <li>Eliminación de las zonas Presupuesto y Carburos</li>
                <li>Nuevas etiquetas Presupuesto, Carburos y ATH</li>
                <li>Actualización del framework base</li>
                <li>Corrección de errores gráficos</li>
                <li>Fusión de clientes</li>
                <li>Mejoras en interfaz tablet</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.2.1</h3>
            <h5>12/05/2017</h5>
            <ul>
                <li>Solucionado problema de pantalla en blanco al retomar sesión durante una búsqueda</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.2</h3>
            <h5>09/05/2017</h5>
            <ul>
                <li>Vinculación de averías</li>
                <li>Búsqueda disponible por código interno</li>
                <li>Modificaciones y mejoras en la interfaz</li>
                <li>Mejoras a nivel de usabilidad</li>
                <li>Nueva vista de cliente</li>
            </ul>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.7</h3>
            <h5>21/04/2017</h5>
            <ul>
                <li>Mejorada la seguridad en averías</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.6</h3>
            <h5>12/04/2017</h5>
            <ul>
                <li>Mejorada la usabilidad en presupuestos</li>
                <li>Mejorada la impresión en presupuestos</li>
                <li>Nuevos links externos en averías</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.5</h3>
            <h5>30/03/2017</h5>
            <ul>
                <li>Corrección de errores en inicio de sesión</li>
                <li>Nuevo diseño en inicio de sesión</li>
                <li>Habilitado guardado de contraseñas en móviles</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.4</h3>
            <h5>17/03/2017</h5>
            <ul>
                <li>Actualización del framework base</li>
                <li>Gestión de usuario</li>
                <li>Incremento de seguridad</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.3</h3>
            <h5>16/02/2017</h5>
            <ul>
                <li>Cambio en los filtros de averías</li>
                <li>Reparaciones prioritarias</li>
                <li>Cambio en los filtros de reparaciones</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.2</h3>
            <h5>01/02/2017</h5>
            <ul>
                <li>Corrección de errores</li>
                <li>Cambio de textos en reparaciones</li>
                <li>Cambio de textos en sms/email</li>
            <ul>
                <h3>6.1.2.1
                    <button class="btn btn-xs btn-danger" disabled>HOTFIX</button> </h3>
            <h5>08/02/2017</h5>
                <li>Corrección de errores en los mapas</li>
            </ul>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1.1</h3>
            <h5>15/12/2016</h5>
            <ul>
                <li>Corrección de errores en los mapas</li>
                <li>Corregido fallo en creación de líneas de presupuesto</li>
                <li>Nueva animación de inicio de sesión</li>
                <li>Mejorado el sistema de notificación de mensajes</li>
                <li>Mejoras en la consulta de estado de reparación (clientes)</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h3>6.1</h3>
            <h5>13/12/2016</h5>
            <ul>
                <li>Nuevo sistema de mapas</li>
                <li>Home reorganizada</li>
                <li>Mejoras en la vista móvil</li>
                <li>Nuevo sistema de informes</li>
                <li>Posibilidad de enviar emails a los clientes</li>
                <li>Cambio de proveedor en los SMS (Amazon WS SNS)</li>
                <li>Corrección de errores menores en presupuestos</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>6.0.4</h3>
            <h5>23/09/2016</h5>
            <ul>
                <li>Solucionados problemas con acentos y carácteres especiales</li>
                <li>Solucionado problema al iniciar sesión cuando se usaban mayúsculas y minúsculas</li>
                <li>Añadido enlace a GSM Microcom</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>6.0.3</h3>
            <h5>11/09/2016</h5>
            <ul>
                <li>Solucionados problemas para consultar el estado de reparación por parte de los clientes</li>
                <li>Nueva interfaz de notificaciones</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>6.0.2</h3>
            <h5>05/09/2016</h5>
            <ul>
                <li>Añadida búsqueda a través de teléfonos de clientes</li>
                <li>Añadido acceso directo por buscador a presupuestos con ID</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>6.0.1</h3>
            <h5>05/09/2016</h5>
            <ul>
                <li>Solucionados problemas con el inicio de sesión viniendo de Intranet 5</li>
                <li>Solucionados problemas de visualización de la paginación</li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <h3>6.0</h3>
            <h5>05/08/2016</h5>
            <ul>
                <li>Nueva interfaz, potenciado menú lateral</li>
                <li>Reducido el número de vistas innecesarias</li>
                <li>Nuevas gráficas de rendimiento mensual, anual y de asignación a trabajadores</li>
                <li>Posibilidad de subir archivos y fotos a las averías</li>
                <li>Nuevo sistema de listado de modificaciones en las averías</li>
                <li>Nuevo sistema de notificación de estado de trabajo por parte de operarios en las averías</li>
                <li>Tareas asíncronas, no se bloquea el sistema cuando se envían mensajes o emails</li>
                <li>Nuevos filtros en listados</li>
                <li>Registro de SMS con el estado del envío</li>
                <li>Nuevo sistema de envío de SMS</li>
                <li>Vista combinadas de reparaciones (IDEGIS y ATH)</li>
                <li>Nuevas reparaciones de motores</li>
                <li>Nuevo sistema de mensajes</li>
                <li>Nuevo motor de búsqueda</li>
                <li>Nuevo diseño en los presupuestos</li>
                <li>Nuevo sistema de inicio de sesión con correo electrónico corporativo</li>
                <li>Nuevo sistema de presupuestos en reparaciones, posibilidad de hacer más de uno por reparación</li>
                <li>Uso de nuevo sistema (Python) y framework (Django)</li>
                <li>Nuevo motor de base de datos</li>
                <li>Todos los datos de Intranet 5 migrados, posibilidad de acceder a Intranet 4 y Intranet 5 sin
                    sincronización de datos a modo consulta
                </li>
            </ul>
        </div>
    </div>

{% endblock %}
