    <div class="row" id="documents-row" style="display: none">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ title }}</h3>
                    </div>
                    <div class="panel-body">
                        <ul class="list-group" id="documents-row-body">

                        </ul>
                    </div>
                </div>
            </div>
        </div>