{% extends 'log_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% block title %}Por favor, inicie sesión{% endblock %}
{% block content %}
    <form role="form" method="post" id="form-log">
        {% csrf_token %}
        <fieldset>
            <div id="form-data">
                <div class="alert alert-warning">
                    Puede ser que su navegador guarde una contraseña antigua. Si no puede entrar, use la nueva, el
                    navegador le pedirá para actualizarla para próximos usos.
                </div>
                {{ form|bootstrap }}
            </div>
            <input type="hidden" name="next"
                   value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}"/>
            <a id="btn-log" class="btn btn-lg btn-success btn-block">Entrar</a>
        </fieldset>
    </form>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'base/js/core/login.js' %}"></script>
{% endblock %}