{% extends 'log_base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block content %}
    <div class="row text-center">
        <img class="google-gif" src="{% static 'base/img/google.gif' %}{% app_version_includes %}"/>
    </div>
{% endblock %}

{% block extrajs %}
    <script type="application/javascript">
        setTimeout(function() {
            window.location.href = "{% url 'social:begin' 'auth0' %}{% if request.GET.next %}?next={{ request.GET.next }}{% endif %}";
        }, 1000);
    </script>
{% endblock %}