{% extends 'log_base.html' %}
{% load bootstrap %}
{% block title %}Por favor, inicie sesión{% endblock %}
{% block content %}
    <form role="form" method="post">
        {% csrf_token %}
        <fieldset>
            {{ form|bootstrap }}
            <input type="hidden" name="next"
                   value="{% if next %}{{ next }}{% else %}{% url 'intervention:intervention-home' %}{% endif %}"/>
            <button type="submit" class="btn btn-lg btn-success btn-block">Entrar</button>
        </fieldset>
    </form>
{% endblock %}