{% extends 'log_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% load core_tags %}
{% block title %}Por favor, inicie sesión <button disabled class="btn btn-xs btn-default btn-left"><i class="fa fa-lock fa-fw"></i> {% app_version %}</button> {% endblock %}
{% block content %}
    <form role="form" method="post" id="form-log">
        {% csrf_token %}
        <fieldset>
            <div id="form-data">
                {{ form|bootstrap }}
            </div>
            <input type="hidden" name="next"
                   value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}"/>
            <button type="submit" id="btn-log" class="btn btn-lg btn-primary btn-block">Entrar</button>

            <a href="{% url 'login-google' %}"><h5 class="login-link">Iniciar sesión con cuenta Google</h5></a>
        </fieldset>
    </form>
{% endblock %}

{% block extrajs %}
    <script src="{% static 'base/js/core/login.js' %}?v=615"></script>
{% endblock %}