{% extends 'log_base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block content %}

<div class="alert alert-warning">
        <a class="close" data-dismiss="alert">×</a>
          Se ha desconectado correctamente.
</div>

<a href="{% url 'login-google' %}" class="btn btn-lg btn-primary btn-block">Volver a iniciar sesión</a>

{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/js/core/logout-google.js' %}{% app_version_includes %}" async defer></script>
{% endblock %}

{% block extrahead %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="{% google_client_id %}">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}