{% extends 'log_base.html' %}
{% load bootstrap %}
{% load static %}
{% load staticfiles %}
{% load core_tags %}
{% block title %}Intranet<button disabled class="btn btn-xs btn-default btn-left"><i class="fa fa-lock fa-fw"></i> {% app_version %}</button> {% endblock %}
{% block content %}


<div class="alert alert-warning">
        <a class="close" data-dismiss="alert">×</a>

             Se ha desconectado correctamente. Si ha sido redirigido aquí es que su usuario no está autorizado a entrar.

    </div>



    <a href="{% url 'login' %}" class="btn btn-lg btn-primary btn-block">Volver a iniciar sesión</a>

{% endblock %}

{% block extrajs %}
<script src="{% static 'base/js/core/login-google.js' %}?v=630"></script>
<script>
    signOut();
</script>
{% endblock %}

{% block extrahead %}
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="64351646816-0oncelskq3l65552muba7af47vjtu4hj.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
{% endblock %}