{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% load core_tags %}
{% block page_title %}{{ title }}{% endblock %}
{% block content %}

    {% if is_budget_repair %}
        {% include 'client_data.html' with client=repair.address.client address=repair.address creating_new_instance=1 %}
    {% else %}
        {% include 'client_data.html' with client=client creating_new_instance=1 %}
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ subtitle }}</h3>
                            </div>
                            <div class="panel-body">
                                {% if client.blocked %}
                                    <div class="text-center">
                                        <h4 style="color: darkred">El cliente se encuentra bloqueado. No es posbile crear nuevas averías, presupuestos o reparaciones</h4>
                                    </div>
                                {% else %}
                                    {{ form|bootstrap }}
                                    {% if zones %}
                                        <div class="form-group">
                                            <label class="control-label">Zona seleccionada</label>
                                            <div class=" ">
                                                <div class="zone" id="selected_zone"><i class="fa fa-map"></i> ZONA 1
                                                </div>
                                                <h4 class="pull-right" id="label_default_zone"><strong>Zona seleccionada
                                                    automáticamente</strong></h4>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {% if engine %}
                        <div class="alert alert-warning">
                            <strong>Alerta!</strong> Este presupuesto se vinculará con la reparación de
                            motor {{ engine }}
                        </div>
                    {% endif %}
                    {% if client.blocked %}
                        <button disabled class="btn btn-danger">CLIENTE BLOQUEADO</button>
                    {% else %}
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    {% endif %}
                </div>
            </form>

        </div>
    </div>
{% endblock %}


{% block extrajs %}
    {% if is_budget_repair %}
        <script src="{% static 'base/js/budget/budget-repair-new.js' %}"></script>
    {% endif %}
    {% if zones %}
        <script type="application/javascript">
            var zones_data = {
            {% for z in zones %}
                {{ z.pk }}: "{{ z.color }}",
            {% endfor %}
            }
            ;
            var zones_border = {
            {% for z in zones %}
                {{ z.pk }}: "{{ z.border }}",
            {% endfor %}
            }
            ;
            var default_zones = {
            {% for ad in client.get_addresses  %}
                {% if ad.calculate_default_zone %}
                    {{ ad.pk }}: "{{ ad.calculate_default_zone.pk }}",
                {% endif %}
            {% endfor %}
            }
        </script>
        <script src="{% static 'base/js/intervention/new.js' %}{% app_version_includes %}"></script>
    {% endif %}
{% endblock %}
