{% load static %}
{% load staticfiles %}
{% load core_tags %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel='shortcut icon' href="{% static 'base/img/favicon.ico' %}" type='image/x-icon'/>
    <title>Intranet Mundiagua - Privacidad</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <!-- Custom Fonts -->
    <link href="{% static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link href="{% static 'base/css/mundiagua.css' %}{% app_version_includes %}" rel="stylesheet" type="text/css">
    <meta name="theme-color" content="{% template_color %}"/>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Política de privacidad</h2>

            <div class="text-justify">
                <p>&nbsp;</p>
                <p>La presente Política de Privacidad establece los términos en que Mundiagua SL usa y protege la información que es proporcionada
                    por sus usuarios al momento de utilizar su sitio web. Esta compañía está comprometida con la
                    seguridad de los datos de sus usuarios. Cuando le pedimos llenar los campos de información personal
                    con la cual usted pueda ser identificado, lo hacemos asegurando que sólo se empleará de acuerdo con
                    los términos de este documento. Sin embargo esta Política de Privacidad puede cambiar con el tiempo
                    o ser actualizada por lo que le recomendamos y enfatizamos revisar continuamente esta página para
                    asegurarse que está de acuerdo con dichos cambios.</p>
                <p><strong>Información que es recogida</strong></p>
                <p>Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,&nbsp; información de
                    contacto como&nbsp; su dirección de correo electrónica.</p>
                <p><strong>Uso de la información recogida</strong></p>
                <p>Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible,
                    particularmente para mantener un registro de usuarios. Los usuarios no autorizados previamente no podrán acceder al sistema y su información no será ni usada ni almacenada.</p>

                <p>Esta aplicación solo será usada por cuentas google corporativas <i>@mundiaguabalear.com</i> y en algunas ocasiones por cuentas externas de nuestros colaboradores.</p>
                <p>Mundiagua SL está altamente comprometido para cumplir con el
                    compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos
                    constantemente para asegurarnos que no exista ningún acceso no autorizado.</p>
                <p><strong>Cookies</strong></p>
                <p>Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para
                    almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener
                    información respecto al tráfico web, y también facilita las futuras visitas a una web recurrente.
                    Otra función que tienen las cookies es que con ellas las web pueden reconocerte individualmente y
                    por tanto brindarte el mejor servicio personalizado de su web.</p>
                <p>Nuestro sitio web no emplea cookies.
                </p>
                <p><strong>Enlaces a Terceros</strong></p>
                <p>Este sitio web pudiera contener en laces a otros sitios que pudieran ser de su interés. Una vez que
                    usted de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al
                    que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la
                    protección de sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias
                    políticas de privacidad por lo cual es recomendable que los consulte para confirmar que usted está
                    de acuerdo con estas.</p>
                <p><strong>Control de su información personal</strong></p>
                <p>En cualquier momento usted puede restringir la recopilación o el uso de la información personal que
                    es proporcionada a nuestro sitio web.&nbsp; Cada vez que se le solicite rellenar un formulario, como
                    el de alta de usuario, puede marcar o desmarcar la opción de recibir información por correo
                    electrónico. &nbsp;En caso de que haya marcado la opción de recibir nuestro boletín o publicidad
                    usted puede cancelarla en cualquier momento.</p>
                <p>Esta compañía no venderá, cederá ni distribuirá la información personal que es recopilada sin su
                    consentimiento, salvo que sea requerido por un juez con un orden judicial.</p>
                <p>Mundiagua SL Se reserva el derecho de cambiar los términos de la presente Política de Privacidad en cualquier momento.</p>
                <p><strong>Contacto</strong></p>
                admin@mundiaguabalear.com | General Weyler 58. 07141 Marratxí. Baleares, España.
            </div>

        </div>
    </div>

</div>
<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
</body>
</html>