{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Presupuesto
    <small>{{ budget }}</small>{% if budget.invalid %}
    <button type="button" class="btn btn-default" style="color: #d44950;" disabled="">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span> NULO
    </button>{% endif %}{% endblock %}
{% block content %}

    {% include 'client_data.html' with client=budget.address.client sms=True address=budget.address %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Información del presupuesto

                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-circle btn-circle-inline dropdown-toggle"
                                    data-toggle="dropdown">
                                <i class="fa fa-print"></i>
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                {% if repair %}
                                    <li><a href="{% url 'budget:budget-repair-print' 1 repair.is_ath budget.pk %}"
                                           target="_blank">Con
                                        logo</a>
                                    </li>
                                    <li><a href="{% url 'budget:budget-repair-print' 0 repair.is_ath budget.pk %}"
                                           target="_blank">Sin
                                        logo</a>
                                    </li>
                                {% else %}
                                    <li><a href="{% url 'budget:budget-print' 1 budget.pk %}" target="_blank">Con
                                        logo</a>
                                    </li>
                                    <li><a href="{% url 'budget:budget-print' 0 budget.pk %}" target="_blank">Sin
                                        logo</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <td style="width: 15%">
                                <strong>Fecha</strong>
                            </td>
                            <td>
                                {{ budget.date }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Creado por</strong>
                            </td>
                            <td>
                                {{ budget.created_by.get_full_name }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>


    {% if not repair %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Averías vinculadas
                            <div class="pull-right">
                                <form class="form-inline" method="post" style="margin-top: -5px"
                                      action="{% url 'budget:budget-link-intervention' budget.pk %}">
                                    {% csrf_token %}
                                    <input required type="text" class="form-control input-sm"
                                           placeholder="Número de avería"
                                           name="intervention">
                                    <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-plus"></i>
                                        Vincular
                                    </button>
                                </form>
                            </div>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {% if budget.intervention_set.all|length > 0 %}

                        <ul class="list-group" style="margin-bottom: 0px;">
                            {% for intervention in budget.intervention_set.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'intervention:intervention-view' intervention.pk %}"
                                       class="btn btn-danger btn-xs">{{ intervention }}</a> {{ intervention.address.client }}
                                    | {{ intervention.date|date:"d-m-Y" }} {{ intervention.date|time:"H:i" }}
                                    <div class="pull-right" style="display: inline-flex">
                                        <a class="btn btn-danger btn-circle btn-circle-inline"
                                           href="{% url 'budget:budget-unlink-intervention' budget.pk intervention.pk 1 %}"
                                        >
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"/>
                                        </a>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                            {% else %}
                            <h5>No hay averías vinculadas, use el botón de vincular para enlazar averías a este presupuesto</h5>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

    {% if repair %}
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Información de la reparación {{ repair }}
                        {% if repair.is_ath %}
                            <a class="btn btn-circle btn-circle-inline btn-left btn-warning"
                               href="{% url 'repair:repair-ath-view' repair.pk %}"><i class="fa fa-edit"></i>
                            </a>
                        {% else %}
                            <a class="btn btn-circle btn-circle-inline btn-left btn-warning"
                               href="{% url 'repair:repair-idegis-view' repair.pk %}"><i class="fa fa-edit"></i>
                            </a>
                        {% endif %}

                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped">
                            <tr>
                                <td style="width: 15%">
                                    <strong>Fecha</strong>
                                </td>
                                <td>
                                    {{ repair.date }}
                                </td>

                            </tr>
                            <tr>
                                <td>
                                    <strong>Modelo</strong>
                                </td>
                                <td>
                                    {{ repair.model }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Número de serie</strong>
                                </td>
                                <td>
                                    {{ repair.serial_number }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Año del equipo</strong>
                                </td>
                                <td>
                                    {{ repair.year }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Descripción</strong>
                                </td>
                                <td>
                                    {{ repair.description|linebreaks }}
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos y modificaciones del presupuesto</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post">{% csrf_token %}
                                {{ form|bootstrap }}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block"><span
                                            class="fa fa-save"></span> Modificar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" name="pres">
            <div class="panel-heading">
                <i class="fa fa-bar-chart-o fa-fw"></i> Líneas de presupuesto
                {% if repair %}
                    <a class="btn btn-circle btn-circle-inline btn-left btn-primary"
                       href="{% url 'budget:budget-repair-edit-lines' budget.pk %}"><i class="fa fa-edit"></i>
                    </a>
                {% else %}
                    <a class="btn btn-circle btn-circle-inline btn-left btn-primary"
                       href="{% url 'budget:budget-edit-lines' budget.pk %}"><i
                            class="fa fa-edit"></i>
                    </a>
                {% endif %}

            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12">

                        {% include 'lines_budget_include.html' with budget=budget %}

                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script src="{% static 'base/js/client/sms_email.js' %}"></script>
    <script src="{% static 'base/js/client/geolocation.js' %}"></script>
{% endblock %}