<h4>Productos y servicios</h4>

<table class="table table-bordered">
    {% for line in budget.get_lines %}
        <tr>
            <td>

                <div class="row">
                    <div class="col-md-12">
                        {{ line.product|linebreaks }}
                        {% if line.quantity > 1  or  line.discount > 0 %}
                            <div class="pull-left text-right">
                                <small>{{ line.quantity|floatformat:2 }} uds a {{ line.unit_price|floatformat:2 }}€/ud
                                </small>
                                {% if line.discount > 0 %}
                                    |
                                    <small>Descuento: {{ line.discount|floatformat:2 }}%
                                        <strong>-{{ line.total_discount|floatformat:2 }}€</strong></small>
                                {% endif %}
                            </div>
                        {% endif %}
                        <div class="pull-right">Total producto/servicio:
                            <strong>{{ line.total_line|floatformat:2 }}€</strong></div>
                    </div>
                </div>

            </td>
        </tr>
    {% endfor %}
</table>


<table class="table table-bordered">
    <tr>
        <td rowspan="{% if budget.tax > 0 %}3{% else %}2{% endif %}">
            {{ budget.conditions|linebreaks }}
        </td>
        <td class="text-center"><em><strong>SUBTOTAL</strong></em></td>
        <td class="text-right">
            <em><strong>{{ budget.get_subtotal|floatformat:2 }}€</strong></em></td>
    </tr>
    {% if budget.tax > 0 %}
        <tr>
            <td class="text-center"><em><strong>IVA {{ budget.tax|floatformat:2 }}%</strong></em>
            </td>
            <td class="text-right">
                <em><strong>{{ budget.get_tax_import|floatformat:2 }}€</strong></em></td>
        </tr>
    {% endif %}
    <tr>
        <td class="text-center"><em><strong>TOTAL</strong></em></td>
        <td class="text-right"><em><strong>{{ budget.get_total|floatformat:2 }}€</strong></em>
        </td>
    </tr>
</table>