{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Modificar contenido del presupuesto {{ budget }}{% endblock %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" name="pres">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Líneas de presupuesto
                    <small>No mezclar puntos y comas</small>
                    <button class="btn btn-primary btn-xs btn-left" id="btn-new-line"><i class="fa fa-plus-square"></i> Nueva línea
                    </button>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <form method="post">
                                {% csrf_token %}
                                <table class="table table-bordered" id="table-budget">
                                    <tr>
                                        <td><strong></strong></td>
                                        <td style="width: 45%"><strong>Descripción</strong></td>
                                        <td><strong>Precio unitario</strong></td>
                                        <td><strong>Unidades</strong></td>
                                        <td><strong>Dto</strong></td>
                                    </tr>
                                    {% for line in budget.get_lines %}

                                        <tr>
                                        <input type="hidden" value="{{ line.pk }}" name="pk_line" />
                                            <td>
                                                <button class="btn btn-danger btn-delete-line"><i
                                                        class="fa fa-remove"></i></button>
                                            </td>
                                            <td><textarea class="form-control txt-typeahead" rows="3" name="product"
                                                          required="" >{{ line.product }}</textarea></td>
                                            <td><input type="text" class="form-control" name="price" required=""
                                                       autocomplete="off" value="{{ line.unit_price }}" /></td>
                                            <td><input type="text" class="form-control" name="quantity" required=""
                                                       autocomplete="off"  value="{{ line.quantity }}" /></td>
                                            <td><input type="text" class="form-control" name="dto" required=""
                                                       autocomplete="off" value="{{ line.discount }}" /></td>
                                        </tr>

                                    {% endfor %}


                                </table>
                                <button type="submit" class="btn btn-warning"><i class="fa fa-save fa-fw"></i> Guardar y
                                    continuar
                                </button>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block extrajs %}
    <script src="{% static 'bootstrap3-typeahead/bootstrap3-typeahead.min.js' %}"></script>
    <script src="{% static 'base/js/budget/budget-lines-edit.js' %}"></script>
{% endblock %}