{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}{% if title %}{{ title }}{% else %}Listado de presupuestos{% endif %}{% endblock %}
{% block content %}
    {% if type %}
    <div class="row">
        <div class="col-lg-12">
            <a href="{% url 'budget:budget-repair-new' type pk %}" class="btn btn-success btn-circle"><i class="fa fa-plus"></i></a>
        </div>
    </div>
    {% endif %}
    {% if budgets|length > 0 %}
    {% include 'paginator.html' with obj=budgets %}
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">

            {% include 'list_budget_include.html' with budgets=budgets %}

        </div>
    </div>
    {% include 'paginator.html' with obj=budgets %}

    {% else %}
            <h4>No hay ningún presupuesto, puedes crear uno usando el botón.</h4>

        {% endif %}


{% endblock %}