{% extends 'print_base.html' %}
{% load static %}
{% block title %}Presupuesto {{ budget }}{% endblock %}
{% block content %}

    <table class="table">
        <tr>
            <td>
                <p><strong>{{ budget.date|date:"d-m-Y" }} {% if budget.get_repair %} | Reparación {{ budget.get_repair }} {% endif %}</strong></p>
                <p><strong>{{ budget.address.client }} {% if budget.address.client.dni %} | {{ budget.address.client.dni}}{% endif %}</strong></p>
                <p></p>
                <p>{{ budget.address.printable }}</p>
                <p>
                    {% for phone in  budget.address.client.get_phones %}
                        {{ phone.printable }}
                    {% endfor %}
                </p>
            </td>
            <td class="text-center">
                <div style="margin: auto">
                    {{ qr|safe }}
                </div>
            </td>
        </tr>
    </table>

    <table class="table table-bordered table-hover table-striped">
        <tr>
            <td>{{ budget.introduction|linebreaks }}</td>
        </tr>
    </table>

    {% include 'lines_budget_include.html' with budget=budget %}

    <p STYLE="text-align: right">Firma / Nombre / DNI</p>
    <p STYLE="text-align: right">CONFORME CLIENTE</p>
{% endblock %}