{% extends 'base.html' %}
{% load static %}
{% load bootstrap %}
{% block page_title %}Reparación de motor
    <small>{{ repair }}</small> {% endblock %}
{% block content %}


    {% include 'client_data.html' with client=repair.address.client sms=True address=repair.address %}


    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Información de la reparación
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-primary btn-xs dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-print"></i> Imprimir
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                <li><a href="{% url 'engine:engine-print' 1 repair.pk %}" target="_blank">Con logo</a>
                                </li>
                                <li><a href="{% url 'engine:engine-print' 0 repair.pk %}" target="_blank">Sin logo</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{% url 'engine:engine-print' 2 repair.pk %}" target="_blank">Interno</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <td style="width: 15%">
                                <strong>Fecha</strong>
                            </td>
                            <td>
                                {{ repair.date }}
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <strong>Creada por</strong>
                            </td>
                            <td>
                                {{ repair.created_by.get_full_name }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>ID Online</strong>
                            </td>
                            <td>
                                {{ repair.online_id }}
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Estado actual</strong>
                            </td>
                            <td>
                                <strong>{{ repair.status }}</strong>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <strong>Historial</strong>
                            </td>
                            <td>
                                {% for log in repair.enginerepairlog_set.all %}
                                    {{ log }}<br>
                                {% endfor %}
                            </td>
                        </tr>
                        <tr>
                            <td><strong>Presupuestos</strong></td>
                            <td>
                                {% if repair.budget %}
                                    <a class="btn btn-info" href="{% url 'budget:budget-view' repair.budget.pk %}"><span
                                            class="fa fa-bar-chart"></span> Ver Presupuesto ({{ repair.budget }})</a>
                                {% else %}
                                    <a class="btn btn-info"
                                       href="{% url 'budget:budget-new' repair.address.client_id %}?engine={{ repair.pk }}"><span
                                            class="fa fa-bar-chart"></span> Crear presupuesto (Formato PM)</a>
                                {% endif %}

                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% include 'sms_include.html' with obj=repair title="SMS de la reparación" %}

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Realizar cambios de estado</h3>
                </div>
                <div class="panel-body" id="body_averia">
                    <div class="row" id="forms">
                        <form method="post" action="{% url 'engine:engine-update-status' repair.pk %}">
                            {% csrf_token %}
                            <div class="col-md-9">
                                <select class="form-control" name="status_repair">
                                    {% for s in status %}
                                        <option value="{{ s.pk }}">{{ s }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-block btn-danger">
                                    <span class="fa fa-flash"></span> Cambiar estado
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Datos y modificaciones de la reparación</h3>
                        </div>
                        <div class="panel-body">
                            <form action="" method="post">{% csrf_token %}
                                {{ form|bootstrap }}
                                <div class="form-group">
                                    <button type="submit" class="btn btn-warning btn-block"><span
                                            class="fa fa-save"></span> Modificar
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block extrajs %}
    <script type="application/javascript">
        var default_sms = "Su reparación {{ repair }} se ha compleado. Puede venir a recoger su producto de 8h a 18h";
        var default_subject = "Reparación completada";
        var from_model_val = "repair-engine";
        var from_model_id_val = {{ repair.pk }};
    </script>
    <script src="{% static 'base/js/client/sms_email.js' %}"></script>
    <script src="{% static 'base/js/client/geolocation.js' %}"></script>
{% endblock %}