html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
    margin-bottom: 20px;
    background-color: gainsboro;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #1d3f72;
  color: whitesmoke;
}

.text-muted {
    color: whitesmoke !important;
}

.login-link {
    text-align: center;
    padding-top: 15px;
}

.login-panel{
   margin-top: 3% !important;
}

.login-panel-body {
    background-color: ghostwhite;
}

.row-login {
    margin-top: 7%;
}

body > .container {
  padding: 30px 15px 0;
}
.container .text-muted {
  margin: 10px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.btn-login {
    background-color: #1d3f72;
    border-bottom-color: #1d3f72;
}

.btn-login:hover {
    background-color: #1e5085;
    border-bottom-color: #1d3f72;
}

.g-signin2{
  width: 100%;
    margin-top: 5px;
}

.g-signin2 > div{
  margin: 0 auto;
}

.google-gif {
    height: 80px;
    display: none;
    margin: auto;

}

.abcRioButtonBlue {
    background-color: #1d3f72 !important;
}