.zone {
    color: white;
    border-radius: 4px;
    float: left;
    padding: 4px;
    margin-right: 3px;
}

.btn-left {
    float: right;
}

.img-list-repair{
    height:35px;
}

.login-panel{
   margin-top: 15% !important;
}

.img-login {
    margin-top: 15%;
}

@media screen and (min-width: 769px) {
    .btn-mobile-list-intervention {
        display: none;
    }
    .btn-desktop-list-intervention {
        display: inline;
    }
}

@media screen and (max-width: 769px) {
    .btn-mobile-list-intervention {
        display: inline;
    }
    .btn-desktop-list-intervention {
        display: none;
    }
}