.zone {
    color: white !important;
    border-radius: 4px;
    float: left;
    padding: 4px !important;
    margin-right: 3px;
}

.btn-left {
    float: right;
}

.img-list-repair{
    height:35px;
}

.login-panel{
   margin-top: 15% !important;
}

.row-login {
    margin-top: 15%;
}

@media screen and (min-width: 769px) {
    .btn-mobile-list-intervention {
        display: none;
    }
    .btn-desktop-list-intervention {
        display: inline;
    }
}

@media screen and (max-width: 769px) {
    .btn-mobile-list-intervention {
        display: inline;
    }
    .btn-desktop-list-intervention {
        display: none;
    }
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.navbar-filters {
    padding-top: 5px;
}

.li-filters {
    padding-left: 5px;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}

.btn-circle-inline.btn{
    margin-top: -5px;
    margin-right: 5px;
}