.zone {
    color: white;
    border-radius: 4px;
    float: left;
    padding: 4px;
    margin-right: 3px;
}

.modifications-intervention{
    float: right;
}

.img-list-repair{
    height:35px;
}

.login-panel{
   margin-top: 15% !important;
}

.img-login {
    margin-top: 15%;
}